{% verbatim %}
<script type="text/ng-template" id="auto-complete.html">
    <div>
        <input id="{{ attr.id }}" type="text" placeholder="{{ attr.placeholder }}" ng-keyup="search()" ng-model="query" autocomplete="off"/>
        <span class="avia_code" ng-show="code">{{ code }}</span>
        <div class="autocomplete" ng-show="matches.length > 0">
            <div class="autocomplete__item"  ng-repeat="math in matches" ng-click="$parent.clickItem($index)">
                <span class="autocomplete__item__code">{{ math.code }}</span>
                <i class="icon-airlines"></i>
                <span ng-class="{'autocomplete__item__child': math.parent==false}">{{ math.formattedName }}</span>
            </div>
        </div>
    </div>
</script>
{% endverbatim %}
{% verbatim %}
<script type="text/ng-template" id="datepicker.html">
    <div>
        <div>
            <input
                id="{{ id }}"
                type="text"
                ng-focus="showCalendar($event)"
                ng-value="viewValue"
                class="ng-datepicker-input ng-datepicker_x_{{ id }}"
                placeholder="{{ placeholder }}">

        </div>
        <div class="ng-datepicker" ng-show="calendarIsVisible">
            <div class="ng-datepicker__controls">
                <div class="left">
                    <i class="fa fa-angle-left prev-month-btn ng-datepicker_x_{{ id }}" ng-click="prevDate()"></i>
                </div>
                <span class="date">{{ monthName }}</span>

                <div class="right">
                    <i class="fa fa-angle-right next-month-btn ng-datepicker_x_{{ id }}" ng-click="nextDate()"></i>
                </div>
            </div>
            <table style="width: 100%; border-bottom: 1px solid #ccc;margin: 4px 0;">
                <tbody>
                <tr>
                    <td ng-repeat="dn in dayNames" style="height: 25px;text-align: center;">{{ dn }}</td>
                </tr>
                </tbody>
            </table>
            <table class="ng-datepicker__calendar">
                <tbody>
                <tr ng-repeat="week in weeks" >
                    <td  class="ng-datepicker__calendar__item"
                         ng-repeat="d in week"
                         ng-click="selectDate(d)"
                         ng-class="{enabled: d.enabled, current: d.current, selected: d.selected, between: d.between}">
                        {{ d.day }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</script>
{% endverbatim %}