
<!DOCTYPE html>
<html xml:lang="ru-ru" lang="ru-ru" dir="ltr" ng-app="MainApp">
<head>
    <meta http-equiv="content-language" content="ru"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title "Поиск дешевых авиабилетов" %}</title>
    <meta name="Description" content="{% block meta_description 'Поиск дешевых авиабилетов' %}">
    <meta name="Keywords" content="{% block meta_keywords 'Поиск дешевых авиабилетов' %}">
    <base href="{{ path('bundles_default_homepage') }}"/>
    {% block style %}
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bundlesdefault/front/css/reset.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bundlesdefault/front/css/footer-bottom.css') }}">

        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bundlesdefault/front/css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bundlesdefault/front/css/additional.css') }}">

    {% endblock %}
    {% block headerJs %}
    {% endblock %}
</head>
<body class="{{ controller_formatter.formattedName }}">

{% if controller_formatter.formattedName != 'default-index' %}
    <div id="loader-container"  ng-show="showLoader">
        <div id="loader"></div>
    </div>
{% endif %}
<div class="wrapper" >
    <div class="nav-bar">
        <div class="container"></div>
    </div>
    {% include "BundlesDefaultBundle:Layouts:_header.html.twig" %}
    <div ui-view>
        {% block content %}{% endblock %}
    </div>

</div>
<footer role="contentinfo">
    <div class="container">
        <div class="main-menu">
            <ul>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Скидки</a></li>
                <li><a href="#">Проверить бронь</a></li>
                <li><a href="#">Временные зоны</a></li>
                <li><a href="#">Погода</a></li>
            </ul>
        </div>
        <!-- Список городов -->
        <div class="list-menu">
            <div class="menu">
                <ul>
                    <li><a href="#">Авиабилеты в Аликанте</a></li>
                    <li><a href="#">Авиабилеты в Бейрут</a></li>
                    <li><a href="#">Авиабилеты в Берген</a></li>
                    <li><a href="#">Авиабилеты в Бирмингем</a></li>
                    <li><a href="#">Авиабилеты в Бристоль</a></li>
                </ul>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="#">Авиабилеты в Брюссель</a></li>
                    <li><a href="#">Авиабилеты в Брюссель</a></li>
                    <li><a href="#">Авиабилеты в Буэнос-Айрес</a></li>
                    <li><a href="#">Авиабилеты в Вену</a></li>
                    <li><a href="#">Авиабилеты в Гётеборг</a></li>
                </ul>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="#">Авиабилеты в Киев</a></li>
                    <li><a href="#">Авиабилеты в Киев</a></li>
                    <li><a href="#">Авиабилеты в Корк</a></li>
                    <li><a href="#">Авиабилеты в Ливерпуль</a></li>
                    <li><a href="#">Авиабилеты в Лиссабон</a></li>
                </ul>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="#">Авиабилеты в Мадрид</a></li>
                    <li><a href="#">Авиабилеты в Малагу</a></li>
                    <li><a href="#">Авиабилеты в Мюнхен</a></li>
                    <li><a href="#">Авиабилеты в Ниццу</a></li>
                    <li><a href="#">Авиабилеты в Нью-Дели</a></li>
                </ul>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="#">Авиабилеты в Пекин</a></li>
                    <li><a href="#">Авиабилеты в Прагу</a></li>
                    <li><a href="#">Авиабилеты в Рио-де-Жанейр…</a>
                    <li><a href="#">Авиабилеты в Санкт-Петербу…</a>
                    <li><a href="#">Авиабилеты в Сидней</a></li>
                </ul>
            </div>
        </div>
        <!-- Список городов -->
    </div>
</footer>

{% block js %}
    <script type="text/javascript" async>
        function loadCss(url) {
            var link = document.createElement("link");
            link.type = "text/css";
            link.rel = "stylesheet";
            link.href = url;
            document.getElementsByTagName("head")[0].appendChild(link);
        }
        loadCss("{{ asset('vendor/font-awesome/css/font-awesome.min.css') }}");
    </script>
    <script src="{{ asset('vendor/jquery/dist/jquery.min.js') }}"></script>
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% endblock %}
</body>
</html>