<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>{% block title "Поиск дешевых авиабилетов" %}</title>
        {% block stylesheets %}
            <link href="{{ asset('build/dist/css/bootstrap.css') }}" rel="stylesheet" media="screen" />
            <link href="{{ asset('build/dist/css/jquery-ui.css') }}" rel="stylesheet" media="screen" />
            <link href="{{ asset('build/dist/css/avia.css') }}" rel="stylesheet" media="screen" />
        {% endblock %}
    </head>
    <body>
        {% javascripts '@jquery' '@jquery_ui_js' combine=true%}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <header role="contentinfo">
            <div class="container" style="max-width:1000px;">
                <a href="{{ path('bundles_default_homepage') }}" class="logo"><img src="{{ asset('images/logo.png') }}" alt=""></a>
                <div class="group-lang btn-group pull-right row">
                    <button data-value="ru"  type="button" class="btn btn-info lang {{app.request.locale == 'ru' ? 'active':''}}">ru</button>
                    <button data-value="en" type="button" class="btn btn-info lang {{app.request.locale == 'en' ? 'active':''}}">en</button>
                    <button data-value="uk" type="button" class="btn btn-info lang {{app.request.locale == 'uk' ? 'active':''}}">ua</button>
                </div>
            </div>
        </header>
        <div class="container" style="max-width:1000px;">
        {% block body %}{% endblock %}
    </div>
    <div id="loader" style="display: block; z-index: 10000;">
        <div class="bg-banners"></div>
        <div class="banners-reklama">
            <div class="banner">
                <a href="#">
                    <div class="displat-table">
                        <div class="displat-table-cell">Тут будет ваша реклама 1</div>
                    </div>
                </a>
            </div>
            <div class="banner">
                <a href="#">
                    <div class="displat-table">
                        <div class="displat-table-cell">Тут будет ваша реклама 2</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="loader">
            <img alt="" src="{{ asset('images/progress_bar.gif') }}" />
        </div>
    </div>
    {% block js %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        {% javascripts
        '@front_bootstrap_js'
        'bundles/bundlesdefault/lib/popup.js'
        'bundles/bundlesdefault/js/app.js'
        'bundles/bundlesdefault/lib/jquery_validator/dist/jquery.validate.min.js'
        'bundles/bundlesdefault/js/default/jquery.selectbox.min.js'
        'bundles/bundlesdefault/js/default/avia.js'
        'bundles/bundlesdefault/js/default/jquery.columnhover.js'
        combine=true%}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {%if app.request.locale!='en' %}
         <script type="text/javascript" src="/bundles/bundlesdefault/lib/jquery_validator/dist/localization/messages_{{app.request.locale}}.js"></script>
        {%endif%}
        <script type="text/javascript">
            $(document).ready(function(){
                _GlobalAppObject.setLocale("{{app.request.locale}}");

            });
        </script>
    {% endblock %}

</body>
</html>