
<!DOCTYPE html>
<html xml:lang="{{ app.request.locale|split('_')[0] }}"  lang="{{ app.request.locale|split('_')[0] }}" dir="ltr" ng-app="MainApp">
<head>
    <meta http-equiv="content-language" content="ru"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title "Поиск дешевых авиабилетов" %}</title>
    <meta name="Description" content="{% block meta_description 'Поиск дешевых авиабилетов' %}">
    <meta name="Keywords" content="{% block meta_keywords 'Поиск дешевых авиабилетов' %}">
    <base href="{{ path('bundles_default_homepage') }}"/>
    {% block style %}
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/aviagofrontend/css/reset.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/aviagofrontend/css/footer-bottom.css') }}">

        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/aviagofrontend/css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/aviagofrontend/css/additional.css') }}">

    {% endblock %}
    {% block headerJs %}
    {% endblock %}
</head>
<script>
    window.appConfig = {
        lang: "{{ app.request.locale }}",
        languages: {
            "ru" : "руский",
            "ua": "украинский",
            "en": "english"
        },
        currencies: {{ currency_manager.currencyList|json_encode|raw }},
        currency: "{{ currency_manager.currency }}"
    };
</script>
<body class="{{ controller_formatter.formattedName }}">

{% if controller_formatter.formattedName != 'default-index' %}
    <div id="loader-container"  ng-show="showLoader">
        <div id="loader"></div>
    </div>
{% endif %}
<div class="wrapper" >
    <div class="nav-bar">
        <div class="container"></div>
    </div>
    {% include "BundlesDefaultBundle:Layouts:_header.html.twig" %}
    <div ui-view>
        {% block content %}{% endblock %}
    </div>

</div>
{% include "@BundlesDefault/Layouts/_footer.html.twig" %}

{% block js %}
    <script type="text/javascript" async>
        (function(){
            function loadCss(url) {
                var link = document.createElement("link");
                link.type = "text/css";
                link.rel = "stylesheet";
                link.href = url;
                document.getElementsByTagName("head")[0].appendChild(link);
            }
            loadCss("{{ asset('vendor/font-awesome/css/font-awesome.min.css') }}");
        })();
    </script>
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
    <script src="{{ url('bazinga_jstranslation_js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% endblock %}
</body>
</html>