<div class="lang-wrap" ng-controller="settingsCtrl">
    <div class="lang-name-block" ng-click="showSettingsBox()">
        <i class="icon-flag">
            <img ng-src="/bundles/aviagofrontend/images/{% verbatim %}{{currentLanguage()}}{%endverbatim%}.png" alt="">
        </i>
        <div class="lang-name">{% verbatim %}{{currentLanguageName()}}{%endverbatim%}</div>
        <span>-</span>
        <div class="currency-rate">{% verbatim %}{{currentLanguage()}}{%endverbatim%}</div>
    </div>
    <div class="select-lang-currency ng-hide" ng-show="isShowSettingsBox">
        <div class="current-lang-course">
            <i class="icon-flag"><img ng-src="/bundles/aviagofrontend/images/{% verbatim %}{{currentLanguage()}}{%endverbatim%}.png" alt=""></i>

            <div class="lang-name">{% verbatim %}{{currentLanguageName()}}{%endverbatim%}</div>
            <span>-</span>

            <div class="currency-rate">{% verbatim %}{{currentLanguage()}}{%endverbatim%}</div>
        </div>
        <div class="lang-select">
            <label for="language">Язык</label>
            <select ng-change="changeLang()" ng-model="language" ng-options="name as value for (name, value) in languages" name="language">

            </select>

        </div>
        <div class="currency-select">
            <label for="currency">Валюта</label>
            <select ng-change="changeCurrency()" ng-model="currency" ng-options="name as value for (name, value) in currencies" name="currency">

            </select>
        </div>
    </div>
</div>