{% extends "BundlesDefaultBundle:Layouts:main.html.twig" %}
{% block js %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('build/dist/js/index/index.js') }}"></script>
    {% javascripts
    'bundles/bundlesdefault/js/default/index.js'
    'bundles/bundlesdefault/js/default/jquery.selectbox.min.js'
    'bundles/bundlesdefault/js/default/avia.js'
    combine=true%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-8">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#avia" data-toggle="tab">
                        {% trans %}frontend.default.flights{% endtrans %}
                    </a>
                </li>
                <li><a href="#hotels" data-toggle="tab">Гостиницы</a></li>
                <li><a href="#auto" data-toggle="tab">Прокат авто</a></li>
            </ul>
            <!-- Tab panes -->
            {% include "BundlesDefaultBundle:Default:_form.html.twig" %}
        </div>
        <div class="col-md-4 now-find">
            <div class="panel-body panel-blue">
                <!-- Default panel contents -->
                <div class="panel-heading text-center">Сейчас на сайте находят</div>
                <!-- List group -->
                <div class="list-now-find">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="#">Киев–Прага 5726 грн.</a></li>
                        <li class="list-group-item"><a href="#">Киев–Дрезден 4891 грн.</a></li>
                        <li class="list-group-item"><a href="#">Вильнюс–Мюнхен 5511 грн</a></li>
                        <li class="list-group-item"><a href="#">Киев–Прага 5726 грн.</a></li>
                        <li class="list-group-item"><a href="#">Киев–Дрезден 4891 грн.</a></li>
                        <li class="list-group-item"><a href="#">Вильнюс–Мюнхен 5511 грн</a></li>
                        <li class="list-group-item"><a href="#">Киев–Прага 5726 грн.</a></li>
                        <li class="list-group-item"><a href="#">Киев–Дрезден 4891 грн.</a></li>
                        <li class="list-group-item"><a href="#">Вильнюс–Мюнхен 5511 грн</a></li>
                        <li class="list-group-item"><a href="#">Вильнюс–Мюнхен 5511 грн</a></li>
                        <li class="list-group-item"><a href="#">Вильнюс–Мюнхен 5511 грн</a></li>
                        <li class="list-group-item"><a href="#">Вильнюс–Мюнхен 5511 грн</a></li>
                        <li class="list-group-item"><a href="#">Вильнюс–Мюнхен 5511 грн</a></li>
                    </ul>
                </div>
                <div class="row group-info">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <button type="button" class="form-inline btn-info btn btn-default" data-toggle="tooltip" data-placement="top" title="Наше время работы с 00:00 до 24:00">
                                <span class="form-group glyphicon glyphicon-times"></span> 
                                <span class="form-group">Время работы</span>
                            </button>
                        </div>
                        <div class="form-group">
                            <button type="button" data-toggle="modal" data-target="#myModal" class="form-inline btn-info btn btn-default">
                                <span class="form-group glyphicon glyphicon-help"></span> 
                                <span class="form-group">Помощь</span>
                            </button>
                        </div>
                        <div class="form-group">
                            <a href="skype:echo123?call" class="form-inline btn-info btn btn-default">
                                <span class="form-group glyphicon glyphicon-skype"></span> 
                                <span class="form-group">Свяжитесь</span>
                            </a>
                        </div>
                    </div>
                    <div class="pay-for-booking col-md-6 col-sm-6 col-xs-12 text-right">
                        <a href="{{ path('bundles_default.order.search') }}" class="btn btn-lg btn-primary">Оплатить <br/> бронь</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if flights %}
        <div class="row">
            <div class="col-md-7">
                <div class="panel-body panel-blue">
                    {% if flights %}
                        <h4>{%trans%}frontend.default.previous_searches{%endtrans%}</h4>
                        <ul class="list-group">
                            {% for flight in flights %}
                                <li class="list-group-item">
                                    <a href="{{ flight.url }}">
                                        {% if flight.name is defined %}
                                            {{ flight.name }}
                                        {% endif %}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

