<div class="tab-content-services" >
    <div class="act-tab tab">
        <div class="form-search-wrap">
            <fieldset class="tab-direction">
                <div class="input-group">
                    <input id="one-direction" type="radio" ng-model="searchForm.direction" value="0" name="direction" required="required" class="radio-button"/>
                    <label for="one-direction">{{ 'frontend.search_form.return_way.one_way'|trans }}</label>
                </div>
                <div class="input-group">
                    <input id="one-two-direction" checked="checked" ng-model="searchForm.direction" value="1" type="radio" name="direction" class="radio-button"/>
                    <label for="one-two-direction">{{ 'frontend.search_form.return_way.multi_way'|trans }}</label>
                </div>
                <div class="input-group">
                    <input id="multiple-direction" type="radio" ng-model="searchForm.direction" value="2" name="direction" class="radio-button"/>
                    <label for="multiple-direction">{{ 'frontend.search_form.return_way.complex_search'|trans }}</label>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div ng-hide="searchForm.direction==2" class="simple-search">
                    <div class="departure-from input-group">
                        <label for="#from-avia">{{ 'frontend.search_form.city_from'|trans }}:</label>
                        <div class="input">
                            <span class="icon"><i class="icon-metka"></i></span>
                            <auto-complete
                                    search-length="3"
                                    ng-model="searchForm.departureCode"
                                    attr-id="from-avia"
                                    attr-placeholder="{{ 'frontend.search_form.placeholders.city'|trans }}"
                                    reverse-component="1"
                                    >
                            </auto-complete>
                        </div>
                    </div>
                    <div ng-click="reverse()" ng-hide="searchForm.direction == 0" class="input-group refresh">
                        <a href="#"><i class="icon-refresh"></i></a>
                    </div>
                    <div ng-hide="searchForm.direction == 0" class="arriving-in input-group">
                        <label for="#down-avia">{{ 'frontend.search_form.city_to'|trans }}:</label>
                        <div class="input">
                            <span class="icon"><i class="icon-metka"></i></span>
                            <auto-complete
                                    search-length="3"
                                    ng-model="searchForm.arrivalCode"
                                    attr-id="down-avia"
                                    attr-placeholder="{{ 'frontend.search_form.placeholders.city'|trans }}"
                                    reverse-component="1"
                                    >

                            </auto-complete>

                        </div>
                    </div>
                </div>
                <div ng-show="searchForm.direction==2" class="complex-search-avia  ng-hide">
                    <div class="list-name-field">
                        <div class="departure-from input-group">
                            <label>{{ 'frontend.search_form.city_from'|trans }}:</label>
                        </div>
                        <div class="arriving-in input-group">
                            <label>{{ 'frontend.search_form.city_to'|trans }}:</label>
                        </div>
                        <div class="up-date input-group">
                            <label>{{ 'frontend.search_form.date_from'|trans }}:</label>
                        </div>
                    </div>
                    <div ng-repeat="inputGroup in searchForm.complexFields" class="group">
                        <div class="departure-from input-group">
                            <div class="input">
                                <span class="icon"><i class="icon-metka"></i></span>
                                <auto-complete
                                        search-length="3"
                                        ng-model="inputGroup.departureCode"
                                        attr-id="from-avia-{% verbatim %}{{ $index }}{% endverbatim %}"
                                        attr-placeholder="{{ 'frontend.search_form.placeholders.city'|trans }}"
                                        >
                                </auto-complete>
                            </div>
                        </div>
                        <div class="arriving-in input-group">
                            <div class="input">
                                <span class="icon"><i class="icon-metka"></i></span>
                                <auto-complete
                                        search-length="3"
                                        ng-model="inputGroup.arrivalCode"
                                        attr-id="down-avia-{% verbatim %}{{ $index }}{% endverbatim %}"
                                        attr-placeholder="{{ 'frontend.search_form.placeholders.city'|trans }}"
                                        >
                                </auto-complete>
                            </div>
                        </div>
                        <div class="up-date input-group">
                            <div class="input">
                                <ng-datepicker
                                        attr-id="up-date-{% verbatim %}{{ $index }}{% endverbatim %}"
                                        highlight-between="0"
                                        placeholder="{{ 'frontend.search_form.placeholders.date'|trans }}"
                                        ng-model="inputGroup.arrivalDate"
                                        name="arrivalDate{% verbatim %}{{ $index }}{% endverbatim %}"
                                        min-from="arrivalDate{% verbatim %}{{ $index - 1 }}{% endverbatim %}"
                                        max-from="arrivalDate{% verbatim %}{{ $index + 1 }}{% endverbatim %}"
                                        >

                                </ng-datepicker>
                                <span class="icon"><i class="icon-date"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="buttton-add-group">
                        <button ng-click="searchForm.addComplexField()" class="button buttton-add">
                            <i class="icon-add"></i><span>{{ 'frontend.search_form.add'|trans }}</span>
                        </button>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="date-simple up-date input-group">
                    <label for="#up-date">{{ 'frontend.search_form.date_from'|trans }}:</label>
                    <div class="input">
                        <ng-datepicker
                                attr-id="up-date"
                                placeholder="{{ 'frontend.search_form.placeholders.date'|trans }}"
                                ng-model="searchForm.arrivalDate"
                                name="arrivalDate"
                                max-from="departureDate"
                                >

                        </ng-datepicker>
                        <span class="icon"><i class="icon-date"></i></span>
                    </div>
                </div>
                <div class="date-simple down-date input-group">
                    <label for="#down-date">{{ 'frontend.search_form.date_to'|trans }}:</label>
                    <div class="input">
                        <ng-datepicker
                                attr-id="down-date"
                                placeholder="{{ 'frontend.search_form.placeholders.date'|trans }}"
                                ng-model="searchForm.departureDate"
                                name="departureDate"
                                min-from="arrivalDate"
                                >

                        </ng-datepicker>
                        <span class="icon"><i class="icon-date"></i></span>
                    </div>
                </div>
                <div class="adults input-group">
                    <label for="#adults">{{ 'frontend.search_form.adults'|trans }}</label>
                    <div class="select">
                        <select id="adults" name="adults" ng-model="searchForm.adults" ng-options="key as value for (key , value) in searchFormOptions.adults">

                        </select>
                    </div>
                </div>
                <div class="children input-group">
                    <label for="#children">{{ 'frontend.search_form.child'|trans }}</label>
                    <div class="select">
                        <select id="children" name="children" ng-model="searchForm.children"  ng-options="key as value for (key , value) in searchFormOptions.children">

                        </select>
                    </div><a href="#" class="age-rule-link">Правила перевозки детей<i class="icon-window"></i></a>
                </div>
                <div class="infant input-group">
                    <label for="#infant">{{ 'frontend.search_form.infant'|trans }}</label>
                    <div class="select">
                        <select id="infant" name="infant" ng-model="searchForm.infant" ng-options="key as value for (key , value) in searchFormOptions.infant">

                        </select>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="button-buy-wrap">
                    <button type="submit" ng-click="search()" class="button button-buy">{{ 'frontend.search_form.submit'|trans }}</button>
                </div>
                <div class="additional-options">
                    <div class="additional-text"><a href="#" ng-click="searchForm.viewAdditionalFields= !searchForm.viewAdditionalFields">{{ 'frontend.search_form.additional_params'|trans }}<i class="icon-down"></i></a></div>
                    <div ng-show="searchForm.viewAdditionalFields" class="additional-wrap ng-hide">
                        <div class="form-group">
                            <div class="checkbox-input input-group">
                                <input ng-model="searchForm.directFlight" ng-true-value="1" ng-false-value="0" id="only-one-direction" type="checkbox" name="only-one-direction" class="checkbox-button"/>
                                <label for="only-one-direction">{{ 'frontend.search_form.direct_flights'|trans }}</label>
                            </div>
                            <div class="checkbox-input input-group">
                                <input ng-model="searchForm.bestPrice" ng-true-value="1" ng-false-value="0" id="best-price-three-day" type="checkbox" name="best-price-three-day" class="checkbox-button"/>
                                <label for="best-price-three-day">{{ 'frontend.search_form.best_price'|trans }}</label>
                            </div>
                            <div class="checkbox-input input-group">
                                <input ng-model="searchForm.refundable" ng-true-value="1" ng-false-value="0" id="refundable" type="checkbox" name="refundable" class="checkbox-button"/>
                                <label for="refundable">{{ 'frontend.search_form.refundable'|trans }}</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="aviacompany input-group">
                                <label for="#aviacompany">{{ 'frontend.search_form.airline'|trans }}</label>
                                <div class="select">
                                    <select id="aviacompany" ng-model="searchForm.airline"  ng-options="key as value for (key , value) in searchFormOptions.airline">

                                    </select>
                                </div>
                            </div>
                            <div class="class-service input-group">
                                <label for="#class-service">{{ 'frontend.search_form.class'|trans }}</label>
                                <div class="select">
                                    <select id="class-service" name="class-service" ng-model="searchForm.serviceClass"  ng-options="key as value for (key , value) in searchFormOptions.serviceClass">

                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div id="hotels" class="tab"></div>
    <div id="car-rental" class="tab"></div>
</div>

{% verbatim %}
    <script type="text/ng-template" id="auto-complete.html">
        <div>
            <input onfocus="$(this).select();" id="{{ attr.id }}" type="text" placeholder="{{ attr.placeholder }}" ng-keyup="search()" ng-model="query" autocomplete="off"/>
            <span class="avia_code" ng-show="code">{{ code }}</span>
            <div class="autocomplete" ng-show="matches.length > 0">
                <div class="autocomplete__item"  ng-repeat="math in matches" ng-click="$parent.clickItem($index)">
                    <span class="autocomplete__item__code">{{ math.code }}</span>
                    <i class="icon-airlines"></i>
                    <span ng-class="{'autocomplete__item__child': math.parent==false}">{{ math.formattedName }}</span>
                </div>
            </div>
        </div>
    </script>
{% endverbatim %}
{% verbatim %}
    <script type="text/ng-template" id="datepicker.html">
        <div>
            <div>
                <input required="" id="{{ id }}" type="text" ng-focus="showCalendar($event)" ng-value="viewValue" class="ng-datepicker-input" placeholder="{{ placeholder }}">

            </div>
            <div class="ng-datepicker" ng-show="calendarOpened">
                <div class="ng-datepicker__controls">
                    <div class="left">
                        <i class="fa fa-angle-left prev-month-btn" ng-click="prevMonth()"></i>
                    </div>
                    <span class="date" ng-bind="dateValue"></span>

                    <div class="right">
                        <i class="fa fa-angle-right next-month-btn" ng-click="nextMonth()"></i>
                    </div>
                </div>
                <table style="width: 100%; border-bottom: 1px solid #ccc;margin: 4px 0;">
                    <tbody>
                        <tr>
                            <td ng-repeat="dn in dayNames" style="height: 25px;text-align: center;">{{ dn }}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="ng-datepicker__calendar">
                    <tbody>
                        <tr ng-repeat="week in days" >
                            <td  class="ng-datepicker__calendar__item"
                                 ng-repeat="d in week"
                                 ng-click="selectDate($event, d)"
                                 ng-class="{enabled: d.enabled, current: d.current, selected: d.selected, between: d.between}">
                                {{ d.day }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </script>
{% endverbatim %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">