<div class="tab-content-services" ng-controller="SearchFormCtrl">
    <div class="act-tab tab">
        <div class="form-search-wrap">
            <fieldset class="tab-direction">
                <div class="input-group">
                    <input id="one-direction" type="radio" ng-model="searchForm.direction" value="1" name="direction" required="required" class="radio-button"/>
                    <label for="one-direction">В одну сторону</label>
                </div>
                <div class="input-group">
                    <input id="one-two-direction" checked="checked" ng-model="searchForm.direction" value="2" type="radio" name="direction" class="radio-button"/>
                    <label for="one-two-direction">В обе стороны</label>
                </div>
                <div class="input-group">
                    <input id="multiple-direction" type="radio" ng-model="searchForm.direction" value="3" name="direction" class="radio-button"/>
                    <label for="multiple-direction">Сложный маршрут</label>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div ng-hide="searchForm.direction==3" class="simple-search">
                    <div class="departure-from input-group">
                        <label for="#from-avia">Вылет из:</label>
                        <div class="input">
                            <span class="icon"><i class="icon-metka"></i></span>
                            <auto-complete
                                    search-length="3"
                                    insert-to="searchForm.departureCode"
                                    attr-id="from-avia"
                                    attr-placeholder="Город или аэропорт"
                                    reverse-component="1"
                                    >
                            </auto-complete>
                        </div>
                    </div>
                    <div ng-click="reverse()" ng-hide="searchForm.direction == 1" class="input-group refresh">
                        <a href="#"><i class="icon-refresh"></i></a>
                    </div>
                    <div ng-hide="searchForm.direction == 1" class="arriving-in input-group">
                        <label for="#down-avia">Прилет в:</label>
                        <div class="input">
                            <span class="icon"><i class="icon-metka"></i></span>
                            <auto-complete
                                    search-length="3"
                                    insert-to="searchForm.arrivalCode"
                                    attr-id="down-avia"
                                    attr-placeholder="Город или аэропорт"
                                    reverse-component="1"
                                    >

                            </auto-complete>

                        </div>
                    </div>
                </div>
                <div ng-show="searchForm.direction==3" class="complex-search-avia  ng-hide">
                    <div class="list-name-field">
                        <div class="departure-from input-group">
                            <label>Вылет из:</label>
                        </div>
                        <div class="arriving-in input-group">
                            <label>Прилет в:</label>
                        </div>
                        <div class="up-date input-group">
                            <label>Дата вылета:</label>
                        </div>
                    </div>
                    <div ng-repeat="inputGroup in searchForm.complexFields" class="group">
                        <div class="departure-from input-group">
                            <div class="input">
                                <span class="icon"><i class="icon-metka"></i></span>
                                <auto-complete
                                        search-length="3"
                                        insert-to="searchForm.complexFields[{% verbatim %}{{ $index }}{% endverbatim %}].departureCode"
                                        attr-id="from-avia-{% verbatim %}{{ $index }}{% endverbatim %}"
                                        attr-placeholder="Город или аэропорт"
                                        >
                                </auto-complete>
                            </div>
                        </div>
                        <div class="arriving-in input-group">
                            <div class="input">
                                <span class="icon"><i class="icon-metka"></i></span>
                                <auto-complete
                                        search-length="3"
                                        insert-to="searchForm.complexFields[{% verbatim %}{{ $index }}{% endverbatim %}].arrivalCode"
                                        attr-id="down-avia-{% verbatim %}{{ $index }}{% endverbatim %}"
                                        attr-placeholder="Город или аэропорт"
                                        >
                                </auto-complete>
                            </div>
                        </div>
                        <div class="up-date input-group">
                            <div class="input">
                                {#<input id="up-date-1" type="text" placeholder="Выберите дату"/>#}
                                <ng-datepicker
                                        attr-id="up-date-{% verbatim %}{{ $index }}{% endverbatim %}"
                                        highlight-between="0"
                                        placeholder="Выберите дату"
                                        ng-model="searchForm.arrivalDate"
                                        name="arrivalDate{% verbatim %}{{ $index }}{% endverbatim %}"
                                        min-from="arrivalDate{% verbatim %}{{ $index - 1 }}{% endverbatim %}"
                                        max-from="arrivalDate{% verbatim %}{{ $index + 1 }}{% endverbatim %}"
                                        >

                                </ng-datepicker>
                                <span class="icon"><i class="icon-date"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="buttton-add-group">
                        <button ng-click="searchForm.addComplexField()" class="button buttton-add"><i class="icon-add"></i><span>Добавить</span></button>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="date-simple up-date input-group">
                    <label for="#up-date">Дата вылета:</label>
                    <div class="input">
                        <ng-datepicker
                                attr-id="up-date"
                                placeholder="Выберите дату"
                                ng-model="searchForm.arrivalDate"
                                name="arrivalDate"
                                max-from="departureDate"
                                >

                        </ng-datepicker>
                        <span class="icon"><i class="icon-date"></i></span>
                    </div>
                </div>
                <div class="date-simple down-date input-group">
                    <label for="#down-date">Дата возврата:</label>
                    <div class="input">
                        <ng-datepicker
                                attr-id="down-date"
                                placeholder="Выберите дату"
                                ng-model="searchForm.departureDate"
                                name="departureDate"
                                min-from="arrivalDate"
                                >

                        </ng-datepicker>
                        <span class="icon"><i class="icon-date"></i></span>
                    </div>
                </div>
                <div class="adults input-group">
                    <label for="#adults">Взрослые (12+)</label>
                    <div class="select">
                        <select id="adults" name="adults">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                </div>
                <div class="children input-group">
                    <label for="#children">Дети (2-11)</label>
                    <div class="select">
                        <select id="children" name="children">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div><a href="#" class="age-rule-link">Правила перевозки детей<i class="icon-window"></i></a>
                </div>
                <div class="infant input-group">
                    <label for="#infant">Младенцы (0-1)</label>
                    <div class="select">
                        <select id="infant" name="infant">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="button-buy-wrap">
                    <button type="submit" ng-click="searchForm.search()" class="button button-buy">Купить</button>
                </div>
                <div class="additional-options">
                    <div class="additional-text"><a href="#" ng-click="searhForm.viewAdditionalFields= !searhForm.viewAdditionalFields">Дополнительные параметры<i class="icon-down"></i></a></div>
                    <div ng-show="searhForm.viewAdditionalFields" class="additional-wrap ng-hide">
                        <div class="form-group">
                            <div class="checkbox-input input-group">
                                <input id="only-one-direction" type="checkbox" name="only-one-direction" class="checkbox-button"/>
                                <label for="only-one-direction">Только прямые рейсы</label>
                            </div>
                            <div class="checkbox-input input-group">
                                <input id="best-price-three-day" type="checkbox" name="best-price-three-day" class="checkbox-button"/>
                                <label for="best-price-three-day">Лучшая цена +3 дня</label>
                            </div>
                            <div class="checkbox-input input-group">
                                <input id="refundable" type="checkbox" name="refundable" class="checkbox-button"/>
                                <label for="refundable">Отменяемый тариф</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="aviacompany input-group">
                                <label for="#aviacompany">Выбор авиакомпании</label>
                                <div class="select">
                                    <select id="aviacompany" name="aviacompany">
                                        <option value="0">Любая</option>
                                        <option value="1">Любая 1</option>
                                        <option value="2">Любая 2</option>
                                        <option value="3">Любая 3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="class-service input-group">
                                <label for="#class-service">Класс обслуживания</label>
                                <div class="select">
                                    <select id="class-service" name="class-service">
                                        <option value="0">Эконом</option>
                                        <option value="1">Эконом 1</option>
                                        <option value="2">Эконом 2</option>
                                        <option value="3">Эконом 3</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div id="hotels" class="tab"></div>
    <div id="car-rental" class="tab"></div>
</div>

{% verbatim %}
    <script type="text/ng-template" id="auto-complete.html">
        <div>
            <input onfocus="$(this).select();" id="{{ attr.id }}" type="text" placeholder="{{ attr.placeholder }}" ng-keyup="search()" ng-model="query" autocomplete="off"/>
            <span class="avia_code" ng-show="code">{{ code }}</span>
            <div class="autocomplete" ng-show="matches.length > 0">
                <div class="autocomplete__item"  ng-repeat="math in matches" ng-click="$parent.clickItem($index)">
                    <span class="autocomplete__item__code">{{ math.code }}</span>
                    <i class="icon-airlines"></i>
                    <span ng-class="{'autocomplete__item__child': math.parent==false}">{{ math.formattedName }}</span>
                </div>
            </div>
        </div>
    </script>
{% endverbatim %}
{% verbatim %}
    <script type="text/ng-template" id="datepicker.html">
        <div>
            <div>
                <input id="{{ id }}" type="text" ng-focus="showCalendar($event)" ng-value="viewValue" class="ng-datepicker-input" placeholder="{{ placeholder }}">
            </div>
            <div class="ng-datepicker" ng-show="calendarOpened">
                <div class="ng-datepicker__controls">
                    <div class="left">
                        <i class="fa fa-angle-left prev-month-btn" ng-click="prevMonth()"></i>
                    </div>
                    <span class="date" ng-bind="dateValue"></span>

                    <div class="right">
                        <i class="fa fa-angle-right next-month-btn" ng-click="nextMonth()"></i>
                    </div>
                </div>
                <table style="width: 100%; border-bottom: 1px solid #ccc;margin: 4px 0;width: 100%;">
                    <tbody>
                        <tr>
                            <td ng-repeat="dn in dayNames" style="height: 25px;text-align: center;">{{ dn }}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="ng-datepicker__calendar">
                    <tbody>
                        <tr ng-repeat="week in days" >
                            <td  class="ng-datepicker__calendar__item"
                                 ng-repeat="d in week"
                                 ng-click="selectDate($event, d)"
                                 ng-class="{enabled: d.enabled, current: d.current, selected: d.selected, between: d.between}">
                                {{ d.day }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </script>
{% endverbatim %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">