mixin input()
    div(class!=attributes.wrapClass ng-class="{error: "+attributes['ang-prefix']+".errors.length > 0}")
        label(for!=attributes.id||"{{"+attributes['ang-prefix']+".id}}")!=attributes.label||"{{"+attributes['ang-prefix']+".label}}"
        .input
            input(
                id!=attributes.id || "{{"+attributes['ang-prefix']+".id}}"
                type!=attributes.type || 'text',
                placeholder!=attributes.placeholder||"{{"+attributes['ang-prefix']+".label}}"
                ng-model=attributes['ng-model'] || attributes['ang-prefix']+".data"
                ng-class="{error: "+attributes['ang-prefix']+".errors.length > 0}"
                )

mixin choice()
    div(class!=attributes.wrapClass)
        label(for!=attributes.id||"{{"+attributes['ang-prefix']+".id}}" ng-class="{error: "+attributes['ang-prefix']+".errors.length > 0}")!=attributes.label||"{{"+attributes['ang-prefix']+".label}}"
        .select
            select(
                id!=attributes.id || "{{"+attributes['ang-prefix']+".id}}"
                type!=attributes.type || 'text',
                placeholder!=attributes.placeholder||"{{"+attributes['ang-prefix']+".label}}"
                ng-model!=attributes['ng-model'] || attributes['ang-prefix']+".data"
                ng-options!=attributes['ng-model'] ||"item.data as item.label for item in {{"+attributes['ang-prefix']+".choices}}"
                ng-class="{error: "+attributes['ang-prefix']+".errors.length > 0}"
            )


mixin radio()
    div(class!=attributes.wrapClass)
        div(class="label")=attributes.label
        div(
            class="radio"
            ng-repeat!="r in "+attributes['ang-prefix']
            ng-class="{error: "+attributes['ang-prefix']+".errors.length > 0}"
            ng-click="toggleCheckbox("+attributes['ang-prefix']+",r)"

        )
            //input(class="radio-button" id="{{sex.id}}" type='radio', name='{{sex.full_name}}' ng-model="sex.data")
            label(for="{{r.id}}" ng-class="{active: r.data}") {{r.label}}