<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{% block title "Поиск дешевых авиабилетов" %}</title>
    <link href="{{ asset('build/dist/css/bootstrap.css') }}" rel="stylesheet" media="screen"/>
    <link href="{{ asset('build/dist/css/avia.css') }}" rel="stylesheet" media="screen"/>

</head>
<body>
<header role="contentinfo">
    <div class="container" style="max-width:970px;">
        <a href="{{ path('bundles_default_homepage') }}" class="logo"><img src="{{ asset('images/logo.png') }}" alt=""></a>

    </div>
</header>
<center>
    <h1>Счет № A{{ order.id }}, {{ order.date.format('d.m.Y') }}</h1>

</center>
<p>&nbsp;</p>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td><strong>Получатель</strong></td>
        <td width="12"></td>
        <td valign="bottom"><strong>Плательщик</strong></td>
    </tr>
    <tr>
        <td width="50%" height="200" valign="top">
            <div style="border:solid 1px #555555; height:200px; padding:12px;">

                <strong>ООО "Туристическая компания "Акватур"</strong><br/>
                Адрес: Украина, Крым, г. Симферополь, 95006, ул. Горького, 30, офис 1
                Тел.: (044) 392-74-08, (0652) 248-986
                <br/>
                Расчетный счет № 26009002018488 в АТ "Дельта Банк" г. Киев, МФО 380236, ЕДРПОУ 33267427
            </div>
        </td>
        <td width="12">
            <div style="width:16px;"></div>
        </td>
        <td valign="top" height="200" width="50%">
            <div style="border:solid 1px #555555; height:200px; padding:12px;">
                {% if formData.invoice %}
                    <strong>{{ formData.invoice_data.name }}</strong>
                    <br/>
                    Адресс: {{ formData.invoice_data.address }}
                {% else %}
                    <strong>{{ entity.ticket.surnames|join(' ') }}</strong>
                    <br/>
                    телефон: {{ order.phone }}
                {% endif %}
            </div>
        </td>
    </tr>
</table>
<p>Заказ № {{ order.id }}, код брони: {{ order.pnr }}</p>
{% set ticket = entity.ticket %}

<table width="100%" border="1" bordercolor="#555555" cellspacing="0" cellpadding="3" style="border-collapse:collapse;">
    <tr>
        <th>№</th>
        <th>Наименование</th>
        <th>Ед. изм.</th>
        <th>Кол-во</th>
        <th>Цена</th>
        <th>Сума</th>
    </tr>
    {% for t,travelers in ticket.travelers %}
        {% if travelers|length >0 %}
            {% set pricing = ticket.pricingByName(t) %}
            <tr>
                <td>{{ loop.index }}.</td>
                <td>
                    Авиабилет {{ entity.ticket.getRoutes(false)|join(' - ') }};
                    Вылет: {{ entity.ticket.firstItinerarie.firstVariant.departureSegment.departureDate|date('d.m.Y') }},
                    Прилет: {{ entity.ticket.lastItinerarie.lastVariant.arrivalSegment.arrivalDate|date('d.m.Y') }};
                </td>
                <td align="center">шт.</td>
                <td align="center">{{ travelers|length }}</td>
                <td align="right" nowrap="nowrap">({{ pricing.Base|number_format(2, ',', '')}} + {{ pricing.Tax|number_format(2, ',', '') }})</td>
                <td align="right" nowrap="nowrap">{{ (pricing.Total*travelers|length)|number_format(2, ',', '') }}</td>
            </tr>
        {% endif %}
    {% endfor %}
    <tr>
        <td colspan="5" style="border-bottom:none; border-left:none" align="right">{%trans%}frontend.default.order.tariff_collection{%endtrans%}:</td>
        <td align="right" nowrap="nowrap">{{ ticket.tariffCollection|number_format(2, ',', '')}}</td>
    </tr>
    <tr>
        <td colspan="5" style="border-bottom:none; border-left:none" align="right">ИТОГО:</td>
        <td align="right" nowrap="nowrap">{{ order.price|number_format(2,',','') }} </td>
    </tr>
    <tr>
        <td colspan="5" style="border-bottom:none; border-left:none" align="right">НДС:</td>
        <td align="right" nowrap="nowrap"> –</td>
    </tr>
    <tr>
        <td colspan="5" style="border-bottom:none; border-left:none" align="right"><strong>ВСЕГО:</strong></td>
        <td align="right" nowrap="nowrap"><strong>{{ order.price|number_format(2,',','') }}</strong></td>
    </tr>
</table>
<p>Сумма словами: {{ numToStr.num2str(order.price)|capitalize }}. Без НДС.

<p>
    <strong>Счет выписан {{ order.date.format('d.m.Y') }}</strong> <br>
    <strong>Счет действителен для оплаты в течение дня выписки.</strong>
</p>


<p class="smaller">Перед оплатой просьба сообщить о планируемой оплате по тел. (044) 392-74-08 или по эл.почте: <a
            href="mailto:info@aviago.com.ua">info@aviago.com.ua</a> для контроля оплаты.</p>
<p><strong class="red">Важно:</strong> <strong>заказ должен быть оплачен (деньги должны придти на наш счет) до:

        {% if ticket.lastTicketDate %}
            {{ ticket.lastTicketDate|date('d.m.Y H:i:s') }}
        {% else %}
            {{ ticket.PNRExpireDate|date('d.m.Y H:i:s') }}
        {% endif %}
    </strong></p>

<button class="btn btn-default pull-right" onClick="window.print();return false">Печать</button>
</body>
</html>