<style>
    #avia-calendar-box {
        position: relative;
    }
    .icon-obratno {
        background-color: #fff;
        background-position: 90% center;
        font-size: 12px;
        padding: 0 7px;
        position: absolute;
        top: 50%;
        width: 78px;
        left: -23px;
        margin-top: -9px;
        -ms-transform: rotate(-90deg); /* IE 9 */
        -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
        transform: rotate(-90deg);
    }
    #avia-calendar-box {
        padding-left: 30px;
    }
</style>
{% set c = table|first %}
    {% if c is empty %}
    {% else %}
        <div class="icon-obratno">Обратно</div>
{% endif %}
{% set c = table|first %}
<table class="table-calendar table table-bordered table-hover text-center" id="calendar_table">
    {% if c is empty %}
            <tr>
                {% for date,p in table %}
                    <td>{{ date|date('d.m.Y') }}</td>
                {% endfor %}
            </tr>
        {#{% for p in data %}#}
        <tr>
            {% for date,val in table %}
                {% if data[date|date('Y-m-d')] is defined %}
                    {% set p = data[date|date('Y-m-d')] %}
                    <td>
                        {% spaceless %}
                        <span class="text-warning calendar-item">
                            {% set route_params = route_params|merge({'new_date_from' : date,'new_date_to' : 0}) %}
                            <a class="calendar-item" href="{{ path('bundles_default.api.calendar_item_info',route_params) }}">
                                {{ p.price|number_format(0,' ',' ') }} {{p.currency}}
                            </a>
                        </span>
                        {% endspaceless %}
                    </td>
                {% else %}
                    <td><span class="calendar-item"></span></td>
                {% endif %}
            {% endfor %}
        </tr>
        {#{% endfor %}#}
    {% else %}
            <tr>
                <td><span class="icon-tuda">Туда</span><!-- <span class="icon-obratno">Обратно</span> --></td>
                {% for date in c %}
                    <td>{{ date|date('d.m.Y') }}</td>
                {% endfor %}
            </tr>
        {% for date,val in table %}
            <tr>
                <td>{{ date|date('d.m.Y') }}</td>
                {% for d,v in val %}
                    <td>
                        {% spaceless %}
                            <span class="text-warning calendar-item">
                                {% for item in data %}
                                    {% if item.date == date and item.findChild(d) %}
                                        {% set route_params = route_params|merge({'new_date_from' : item.date,'new_date_to' : d}) %}
                                        <a class="calendar-item" href="{{ path('bundles_default.api.calendar_item_info',route_params) }}">
                                            {{ item.findChild(d).price|number_format(0,' ',' ') }} {{item.findChild(d).currency}}
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </span>
                        {% endspaceless %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    {% endif %}
</table>
<script>
    $(document).ready(function($) {

        /*$('#calendar_table').columnHover({
            eachCell:true, 
            hoverClass:'betterhover'
        });*/

        $(".table-calendar td").mouseover(function() {
            var tds = $( this ).parent().find("td"),
            index = $.inArray( this, tds );
            $(".table-calendar td:nth-child("+( index + 1 )+")").addClass('betterhover');
        }).mouseout(function() {
            var tds = $( this ).parent().find("td"),
            index = $.inArray( this, tds );
            $(".table-calendar td:nth-child("+( index + 1 )+")").removeClass('betterhover');
        });    


        /*$('#calendar_table a').each(function() {
            var aText = $(this).text();
            var numText = parseInt(aText.replace(/\D+/g,""));
            alert(numText);
        });*/

        /*$('#calendar_table tr:first-of-type td:first-of-type').text('<span>1312312</span>');*/
    });
</script>