{% set c = table|first %}
<table class="table-calendar table table-bordered table-hover text-center" id="calendar_table">
    {% if c is empty %}
        <thead>
            <tr>
                {% for date,p in table %}
                    <th>{{ date|date('d.m.Y') }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {#{% for p in data %}#}
        <tr>
            {% for date,val in table %}
                {% if data[date|date('Y-m-d')] is defined %}
                    {% set p = data[date|date('Y-m-d')] %}
                    <th>
                        <span class="text-warning">
                            {% set route_params = route_params|merge({'new_date_from' : date,'new_date_to' : 0}) %}
                            <a class="calendar-item" href="{{ path('bundles_default.api.calendar_item_info',route_params) }}">
                                {{ p.price|number_format(0,' ',' ') }} {{p.currency}}
                            </a>
                        </span>
                    </th>
                {% else %}
                    <th></th>
                {% endif %}
            {% endfor %}
        </tr>
        {#{% endfor %}#}
        </tbody>
    {% else %}
        <thead>
            <tr>
                <th></th>
                {% for date in c %}
                    <th>{{ date|date('d.m.Y') }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for date,val in table %}
            <tr>
                <td>{{ date|date('d.m.Y') }}</td>
                {% for d,v in val %}
                    <td>
                        <span class="text-warning">
                            {% for item in data %}
                                {% if item.date == date and item.findChild(d) %}
                                    {% set route_params = route_params|merge({'new_date_from' : item.date,'new_date_to' : d}) %}
                                    <a class="calendar-item" href="{{ path('bundles_default.api.calendar_item_info',route_params) }}">
                                        {{ item.findChild(d).price|number_format(0,' ',' ') }} {{item.findChild(d).currency}}
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </span>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    {% endif %}
</table>