<h4>Быстрые фильтры</h4>
<div>
    <form  id="filter-form" action="">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    {{ form_row(filter_form.departure_airport) }}
                </div>
                <div class="form-group">
                    {{ form_row (filter_form.arrival_airport) }}
                </div>
                <div class="form-group">
                    {{ form_row (filter_form.airline) }}
                </div>
                <div class="form-group">
                    <div>
                        {{ form_row(filter_form.departure_time) }} 
                    </div>
                    <div>
                        {{ form_row(filter_form.arrival_time) }}
                    </div>
                </div>
            </div>
        </div>
    </form>
    
</div>

<script>
    $(document).ready(function($) {
        $('#filter_departure_time label').after('<div class="clear"></div>');
        $('#filter_arrival_time label').after('<div class="clear"></div>');
    });
</script>