{% set needBook = needBook is defined ? needBook : true %}
{% for ticket in data %}

    <div class="well">
        <strong class="text-danger">
            <h4>{{ ticket.totalPrice|number_format(0,'.',' ') }} руб</h4>
        </strong>

        {% if needBook %}
            <form action="{{ path("bundles_default_api_info") }}" class="book-form">
        {% endif %}
        {% for int in ticket.itineraries %}
            {% set parent_loop = loop %}
            {% for variant in int.variants %}
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">
                            {% if loop.first  %}
                                {% if parent_loop.first %}
                                    {{ variant.departureSegment.departureDate|date("d.m.Y") }}
                                {% elseif parent_loop.last %}
                                    {{ variant.arrivalSegment.arrivalDate|date("d.m.Y") }}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-1">
                                <input value="{{ variant.variantID }}"
                                       type="radio" {% if loop.first %} checked="checked" {% endif %}
                                       name="info[variants][{{ parent_loop.index-1 }}]"/>
                                <input type="hidden" name="info[request_id]" value="{{ ticket.requestId }}">
                        </div>
                        <div class="col-md-3">
                            <div class="logo-{{ variant.departureSegment.marketingAirline }}"></div>
                            <div>
                                <strong>
                                    {{ variant.departureSegment.marketingAirlineName }}
                                </strong>
                            </div>
                            <div>
                                <small>
                                    {{ variant.departureSegment.aircraftName }}
                                </small>
                            </div>
                            <small>
                                {% for segment in variant.segments %}
                                    {{ segment.marketingAirline }}{{ segment.flightNumber }}{% if not loop.last %}/{% endif %}
                                {% endfor %}
                            </small>

                        </div>
                        <div class="col-md-3">
                            <div>
                                <div>
                                    <small>Время вылета:</small>

                                </div>
                                <strong class="text-warning">{{ variant.departureSegment.departureDate|date("H:i") }}</strong>
                            </div>
                            <strong>{{ variant.departureSegment.departureCityName }}</strong>

                            <div>
                                <small>{{ variant.departureSegment.departureAirportName }}</small>
                            </div>

                        </div>
                        <div class="col-md-3">
                            <div>
                                <div>
                                    <small>Время прилета:</small>

                                </div>
                                <strong class="text-warning">{{ variant.arrivalSegment.arrivalDate|date("H:i") }}</strong>
                            </div>
                            <strong>{{ variant.arrivalSegment.arrivalCityName }}</strong>

                            <div>
                                <small>{{ variant.arrivalSegment.arrivalAirportName }}</small>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <small>Продолжительность:</small>
                            <div>
                                <strong class="text-warning">{{ variant.duration|secondToTime }}</strong>
                            </div>
                            {% if variant.countTransplant %}
                                <div>
                                    <small>
                                        {{ variant.countTransplant }} {{ variant.decl(variant.countTransplant,['пересадка','пересадки','пересадок']) }}:
                                    </small>
                                    {% for a in variant.transplantAirports %}
                                        <strong>{{ a.name }}</strong>, <small>между рейсами:{{ a.time|secondToTime }}</small>
                                    {% endfor %}

                                </div>
                            {% endif %}
                        </div>

                    </div>
                </div>
            {% endfor %}
            <hr/>

        {% endfor %}
        {% if needBook %}
            <div class="" style="margin-bottom: 15px">
                <div class="col-md-offset-9">
                    <input style="margin-left: 42%" class="btn btn-primary" type="submit" value="Забронировать">
                </div>
            </div>
            </form>
        {% endif %}
    </div>
{% endfor %}
