{% set needBook = needBook is defined ? needBook : true %}
{% for ticket in data %}
    {% if needBook %}
        <form action="{{ path("bundles_default_api_info") }}" class="book-form">
    {% endif %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ ticket.totalPrice|number_format(0,'.',' ') }} руб</h3>
            </div>
            <div class="panel-body">
                {% for int in ticket.itineraries %}
                    {#{% if(loop.index > 1) %}{% set f = "Обратно" %}{% else %}{% set f = "Туда" %}{% endif %}#}
                    {% set parent_loop = loop %}
                    {% for variant in int.variants %}
                        <div class="well">
                            {% if needBook %}
                                <label>
                                    <input value="{{ variant.variantID }}" type="radio" {% if loop.first %} checked="checked" {% endif %} name="info[variants][{{ parent_loop.index-1 }}]" />
                                    Выбрать
                                </label>
                                <input type="hidden" name="info[request_id]" value="{{ ticket.requestId }}">
                            {% endif %}
                            <div>
                                <small>Общая продолжительность</small> <strong>{{ variant.duration|secondToTime}}</strong>
                            </div>
                            {% for segment in variant.segments %}
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <div class="panel-title"></div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-md-3">
                                            <div>
                                                <strong>{{ segment.departureDate|date("d M Y г.") }}</strong>
                                            </div>
                                            <div class="logo-{{ segment.marketingAirline }}">
                                                LOGO
                                            </div>
                                            <small>{{ segment.marketingAirline }} {{ segment.flightNumber }}</small>
                                            <div>
                                                <small> Колличество мест: {{ segment.availableSeats }}</small>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div>
                                                <small>Вылет</small> <strong>{{ segment.departureDate|date("H:i") }}</strong>
                                            </div>
                                            <strong>{{ segment.departureCityName }}, {{ segment.departureCountryName }}</strong>
                                            <div>
                                                <small>{{ segment.departureAirportName }}</small>
                                            </div>

                                        </div>
                                        <div class="col-md-3">
                                            <div>
                                                <small>Прилет</small> <strong>{{ segment.arrivalDate|date("H:i") }}</strong>
                                            </div>
                                            <strong>{{ segment.arrivalCityName }}, {{ segment.arrivalCountryName }}</strong>
                                            <div>
                                                <small>{{ segment.arrivalAirportName }}</small>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div>
                                                <strong>{{ segment.flightTime|secondToTime }}</strong>
                                            </div>
                                            <smal>Продолжительность палета</smal>
                                        </div>

                                    </div>
                                </div>
                                {% if not loop.last %}
                                    <div class="text-center">
                                        {% set next = variant.segments[loop.index0 +1] %}
                                        Пересадка между рейсами <strong>{{ segment.transplantTime(next)|secondToTime }}</strong>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <hr />
                {% endfor %}
                {% if needBook %}
                    <div class="" style="margin-bottom: 15px">
                        <div class="col-md-offset-9">
                            <input style="margin-left: 42%" class="btn btn-primary" type="submit" value="Забронировать">
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% if needBook %}
        </form>
    {% endif %}
{% endfor %}