{% set needBook = needBook is defined ? needBook : true %}
{% for ticket in data %}
    <div class="ticket-well well">
        <div class="price-ticket">
            <h2>{{ ticket.totalPrice|number_format(0,'.',' ') }} {{ticket.currency}} </h2>
            <span class="col-block"> - за <span class="col-user">3</span> <span class="end-word"></span></span>
        </div>
        {% if needBook %}
            <form action="{{ path("bundles_default_api_info") }}" class="book-form">
                {% endif %}
                {% for int in ticket.itineraries %}
                    {% set parent_loop = loop %}
                        {% for variant in int.variants %}
                            <div class="ticket-item">
                                <div class="date-ticket">
                                    <div class="date-title">
                                        {% if loop.first  %}
                                            {% if parent_loop.first %}
                                                {{ variant.departureSegment.departureDate|date("d.m.Y") }}
                                            {% elseif parent_loop.last %}
                                                {{ variant.arrivalSegment.arrivalDate|date("d.m.Y") }}
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="panel panel-info panel-ticket">
                                    <div class="panel-body panel-gradient ticket-body">
                                        <div class="col-md-1 radio-ticket">
                                            <div class="radio-button">
                                                <input value="{{ variant.variantID }}" type="radio" {% if loop.first %} checked="checked" {% endif %} name="info[variants][{{ parent_loop.index-1 }}]"/>
                                                <input type="hidden" name="info[request_id]" value="{{ ticket.requestId }}">
                                            </div>
                                        </div>
                                        <div class="col-md-3 company-info">
                                            <div class="row">
                                                <div class="img-company col-md-5">
                                                    <img src="{{ asset('/images/company.jpg') }}" alt="">
                                                </div>
                                                <div class="img-name col-md-7">
                                                    <div class="name-company">{{ variant.departureSegment.marketingAirlineName }}</div>
                                                    <div class="num-company">{{ variant.departureSegment.aircraftName }}</div>
                                                    <div class="free-mest">
                                                        {% for segment in variant.segments %}
                                                            {{ segment.marketingAirline }}{{ segment.flightNumber }}{% if not loop.last %}/{% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 time-up-avia">
                                            <p>{%trans%}frontend.default.list.item.departure_time{%endtrans%}:</p>
                                            <div class="row">
                                                <div class="time-up col-md-4">{{ variant.departureSegment.departureDate|date("H:i") }}</div>
                                                <div class="city-aero col-md-8">
                                                    <div class="city-up">{{ variant.departureSegment.departureCityName }}</div>
                                                    <div class="aeropot-up">{{ variant.departureSegment.departureAirportName }}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 time-down-avia">
                                            <p>{%trans%}frontend.default.list.item.arrival_time{%endtrans%}:</p>
                                            <div class="row">
                                                <div class="time-down col-md-4">{{ variant.arrivalSegment.arrivalDate|date("H:i") }}</div>
                                                <div class="city-aero col-md-8">
                                                    <div class="city-down">{{ variant.arrivalSegment.arrivalCityName }}</div>
                                                    <div class="aeropot-down">{{ variant.arrivalSegment.arrivalAirportName }}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 time-duration-avia">
                                            <p>{%trans%}frontend.default.list.item.duration{%endtrans%}:</p>
                                            <div class="time-duration">{{ variant.duration|secondToTime }}</div>
                                            <div class="transplant">
                                                {% if variant.countTransplant %}
                                                    <button type="button" class="btn-transplant btn btn-xs" data-container="body" data-toggle="popover" data-placement="top" data-content="{% for a in variant.transplantAirports %}
                                                            <div class='list-transplant'>
                                                            <strong>{{ a.name }}</strong><br/> <small>{%trans%}frontend.default.list.item.between_flights{%endtrans%}:{{ a.time|secondToTime }}</small>
                                                        </div>
                                                        {% endfor %}">{% transchoice variant.countTransplant with {'%count%':  variant.countTransplant} %}
                                                                frontend.default.list.item.transplant
                                                            {% endtranschoice %}</button>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                {% endfor %}
                {% if needBook %}
                <div class="row add-btn">
                    <div class="col-md-3">
                        {% if ticket.lastTicketDate %}
                            {% trans %}frontend.flights.last_ticket_date{% endtrans %}: <strong class="text-warning buy-do">{{ ticket.lastTicketDate|date('d.m.Y') }}</strong>
                        {% endif %}
                    </div>
                    <div class="col-md-6"></div>
                    <div class="col-md-3">
                        <button class="btn btn-warning btn-lg buy-ticket pull-right" type="submit">{%trans%}frontend.default.list.item.submit{%endtrans%}</button>
                    </div>
                </div>
            </form>
        {% endif %}
    </div>
{%else%}
<div class="text-info">{%trans%}frontend.default.list.search_not_found{%endtrans%}</div>
{% endfor %}

<script>
    $(document).ready(function($) {
        $('.radio-button input[type="radio"]:checked').each(function() {
            $(this).parent().parent().parent().addClass('checked-block');
        });  
        $('.radio-button input[type="radio"]').change(function(event) {
            var radioName = $(this).attr('name');
            $('.radio-button input[name="'+ radioName +'"]').parent().parent().parent().removeClass('checked-block');
            $('.radio-button input[type="radio"]:checked').each(function() {
                $(this).parent().parent().parent().addClass('checked-block');
            });
            $(this).parent().parent().parent().addClass('checked-block');
            event.preventDefault();
        });
        $('.ticket-body').click(function(event) {
            var checkattr = $(this).find('input[type="radio"]').attr('checked');
            var nameattr = $(this).find('input[type="radio"]').attr('name');
            if(checkattr=='checked'){
                return true;
            } else {
                $(this).parent().parent().parent().find('input[name="'+ nameattr +'"]').removeAttr('checked');
                $(this).find('input[type="radio"]').attr('checked', true);
                $(this).parent().parent().parent().find('input[name="'+ nameattr +'"]').parent().parent().parent().parent().find('.ticket-body').removeClass('checked-block');
                $(this).addClass('checked-block');
            }
            event.preventDefault();
        });
        $('input[name="info[variants][1]"]').parent().parent().parent().parent().parent().addClass('down-time-block');
        $('.btn-transplant').popover({
            html: true
        });

        var coladult = $('#search_form_adults').val();
        var colchild = $('#search_form_children').val();
        var colinf = $('#search_form_infant').val();
        var totalUser = parseInt(coladult) + parseInt(colchild) + parseInt(colinf);
        $('.col-user').text(totalUser);
        function plural(number, titles){
            cases = [2, 0, 1, 1, 1, 2];
            return titles[ (number%100>4 && number%100<20)? 2 : cases[(number%10<5)?number%10:5] ];
        }
        var cmt = totalUser;
        //jquery
        $('.end-word').html(plural(cmt, ['человека', 'человек', 'человек']));
    });
</script>

    