{% extends "BundlesDefaultBundle:Layouts:main.html.twig" %}

{% block body %}
    <form action="" method="post">
        <div>

            <ul class="nav nav-tabs" role="tablist">
                {% for adt in form.passengers.ADT %}
                    <li class="{% if loop.first %}active{% endif %}">
                        <a href="#adult{{ loop.index }}" role="tab" data-toggle="tab">
                            Пассажир № {{ loop.index }} (Взрослый)
                        </a>
                    </li>
                {% endfor %}
                {% for chd in form.passengers.CHD %}
                    <li class="">
                        <a href="#child{{ loop.index }}" role="tab" data-toggle="tab">
                            Пассажир № {{ loop.index }} (Ребенок)
                        </a>
                    </li>
                {% endfor %}
                {% for inf in form.passengers.INF %}
                    <li class="">
                        <a href="#inf{{ loop.index }}" role="tab" data-toggle="tab">
                            Пассажир № {{ loop.index }} (Младенец)
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content">
                {% for add in form.passengers.ADT %}
                    <div class="tab-pane {% if loop.first %}active{% endif %}" id="adult{{ loop.index }}">
                        {{ form_row(add) }}
                    </div>
                {% endfor %}
                {% for chd in form.passengers.CHD %}
                    <div class="tab-pane" id="child{{ loop.index }}">
                        {{ form_row(chd) }}
                    </div>
                {% endfor %}
                {% for inf in form.passengers.INF %}
                    <div class="tab-pane" id="inf{{ loop.index }}">
                        {{ form_row(inf) }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div  class="form-group">
            <div class="controls">
                <input type="submit" value="Забронировать" class="btn btn-success">
            </div>
        </div>
    </form>

{% endblock %}