{% extends "BundlesDefaultBundle:Layouts:main.html.twig" %}
{% block js %}
    {{ parent() }}
    {% javascripts 'bundles/bundlesdefault/lib/masked.js' 'bundles/bundlesdefault/js/default/book.js' 'bundles/bundlesdefault/lib/intl-tel-input-master/build/js/intlTelInput.min.js' combine=true%}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% block stylesheets %}
        {{ parent() }}
        {% stylesheets
            'bundles/bundlesdefault/lib/intl-tel-input-master/build/css/intlTelInput.css'
        filter='cssrewrite' combine=true %}
        <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
        {% endstylesheets %}
    {% endblock %}
{% endblock %}
{% block body %}
    <div class="col-md-3">
        <h3>Информация о заказе</h3>
        <hr />
        <strong>Всего: {{ ticket.totalPrice|number_format(0, '.', ' ')  }} руб.</strong>

    </div>
    <div class="col-md-9">
        <h3>{{ ticket.routes|join(' - ') }}</h3>
        <div style="margin-bottom: 50px">

            <ul class="nav nav-tabs" role="tablist">
                <li class="active">
                    <a href="#rules" role="tab" data-toggle="tab">
                        Правила тарифа
                    </a>
                </li>
                <li class="">
                    <a href="#info" role="tab" data-toggle="tab">Детали рейса</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="rules" style="padding: 15px">
                    <div class="">
                        Если в вашем билете несколько рейсов, при неявке на один из них авиакомпания имеет право отменить бронь на оставшиеся рейсы.
                    </div>
                    <hr />
                    {% set pm = {'ADT' :'Взрослые','CHD' :'Дети','INF' :'Младенцы' } %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Пассажиры</th>
                            <th>Тариф + Таксы</th>
                            <th>Кол-во</th>
                            <th>Итого</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for t,travelers in ticket.travelers %}
                            {% if travelers >0 %}
                                {% set pricing = ticket.pricingByName(t) %}
                                <tr>
                                    <td>{{ pm[t] }}</td>
                                    <td>({{ pricing.Base|number_format(0, '.', ' ')}} + {{ pricing.Tax|number_format(0, '.', ' ') }})</td>
                                    <td>x{{ travelers }}</td>
                                    <td>{{ (pricing.Total*travelers)|number_format(0, '.', ' ') }} руб.</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <strong>Тарифный сбор:</strong>
                            </td>
                            <td>{{ ticket.tariffCollection|number_format(0, '.', ' ')}} руб</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <strong>Итого:</strong>
                            </td>
                            <td>{{ ticket.totalPrice|number_format(0, '.', ' ')}} руб</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="info"  style="padding: 15px">
                    {% include 'BundlesDefaultBundle:Api:_items.html.twig' with {data: [ticket],needBook: false} %}
                </div>
            </div>
        </div>

        {% if ticket.latinRegistration %}
            <div class="alert alert-warning" role="alert">Все поля должны быть заполнены латиницей</div>
        {% endif %}
        <form action="" method="post" id="order-form">
            {{ form_errors(form) }}
            <div>
                <ul class="nav nav-tabs" role="tablist">
                    {% for adt in form.passengers.ADT %}
                        <li class="{% if loop.first %}active{% endif %}">
                            <a href="#adult{{ loop.index }}" role="tab" data-toggle="tab">
                                Пассажир № {{ loop.index }} (Взрослый)
                            </a>
                        </li>
                    {% endfor %}
                    {% for chd in form.passengers.CHD %}
                        <li class="">
                            <a href="#child{{ loop.index }}" role="tab" data-toggle="tab">
                                Пассажир № {{ loop.index }} (Ребенок)
                            </a>
                        </li>
                    {% endfor %}
                    {% for inf in form.passengers.INF %}
                        <li class="">
                            <a href="#inf{{ loop.index }}" role="tab" data-toggle="tab">
                                Пассажир № {{ loop.index }} (Младенец)
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {% for add in form.passengers.ADT %}
                        <div class="tab-pane {% if loop.first %}active{% endif %}" id="adult{{ loop.index }}">
                            {{ form_row(add) }}
                            {% if loop.first %}
                                {{ form_row(form.email) }}
                                {{ form_row(form.phone) }}
                                {{ form_row(form.info) }}
                            {% endif %}
                        </div>
                    {% endfor %}
                    {% for chd in form.passengers.CHD %}
                        <div class="tab-pane" id="child{{ loop.index }}">
                            {{ form_row(chd) }}
                        </div>
                    {% endfor %}
                    {% for inf in form.passengers.INF %}
                        <div class="tab-pane" id="inf{{ loop.index }}">
                            {{ form_row(inf) }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            {{ form_row(form._token) }}
            <div  class="form-group">
                <div class="controls">
                    <input type="submit" value="Забронировать" class="btn btn-success">
                </div>
            </div>
        </form>
    </div>
    <style type="text/css">
        .birthday select{
            width: auto;
            margin-right: 10px;
        }
    </style>
    <script>
        VALID_DATE = {{ticket.validTime}};
    </script>

{% endblock %}