{% extends "BundlesDefaultBundle:Layouts:main.html.twig" %}

{% block body %}
    <div class="col-md-3">
        <h3>Информация о заказе</h3>
        <hr />
        <strong>Всего</strong>: {{ ticket.totalPrice|number_format(2, '.', ' ')  }} руб
    </div>
    <div class="col-md-9">
        <div style="margin-bottom: 50px">

            <ul class="nav nav-tabs" role="tablist">
                <li class="active">
                    <a href="#rules" role="tab" data-toggle="tab">
                        Правила тарифа
                    </a>
                </li>
                <li class="">
                    <a href="#info" role="tab" data-toggle="tab">Детали рейса</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="rules" style="padding: 15px">
                    <div class="">
                        Если в вашем билете несколько рейсов, при неявке на один из них авиакомпания имеет право отменить бронь на оставшиеся рейсы.
                    </div>

                </div>
                <div class="tab-pane" id="info"  style="padding: 15px">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ ticket.totalPrice|number_format(2, '.', ' ') }} руб</h3>
                        </div>
                        <div class="panel-body">
                            {% for int in ticket.itineraries %}
                                {% if(loop.index > 1) %}{% set f = "Обратно" %}{% else %}{% set f = "Туда" %}{% endif %}
                                {% set parent_loop = loop %}
                                {% for variant in int.variants %}
                                    <div class="well">
                                        <div>
                                            {{ f }} (продолжительность - {{ variant.formattedDuration }})

                                        </div>
                                        {% for segment in variant.segments %}
                                            <div class="panel panel-info">
                                                <div class="panel-heading">
                                                    <div class="panel-title"></div>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="col-md-4">
                                                        <strong>{{ segment.departureDate("d MMMM Y г.") }}</strong>
                                                        <div>
                                                            <small> Колличество мест: {{ segment.availableSeats }}</small>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div>
                                                            <small>Вылет</small> <strong>{{ segment.departureDate("H:mm") }}</strong>
                                                        </div>
                                                        <strong>{{ segment.departureCityName }}, {{ segment.departureCountryName }}</strong>
                                                        <div>
                                                            <small>{{ segment.departureAirportName }}</small>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-4">
                                                        <div>
                                                            <small>Прилет</small> <strong>{{ segment.arrivalDate("H:mm") }}</strong>
                                                        </div>
                                                        <strong>{{ segment.arrivalCityName }}, {{ segment.arrivalCountryName }}</strong>
                                                        <div>
                                                            <small>{{ segment.arrivalAirportName }}</small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                                <hr />
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form action="" method="post">
            {{ form_errors(form) }}
            <div>
                <ul class="nav nav-tabs" role="tablist">
                    {% for adt in form.passengers.ADT %}
                        <li class="{% if loop.first %}active{% endif %}">
                            <a href="#adult{{ loop.index }}" role="tab" data-toggle="tab">
                                Пассажир № {{ loop.index }} (Взрослый)
                            </a>
                        </li>
                    {% endfor %}
                    {% for chd in form.passengers.CHD %}
                        <li class="">
                            <a href="#child{{ loop.index }}" role="tab" data-toggle="tab">
                                Пассажир № {{ loop.index }} (Ребенок)
                            </a>
                        </li>
                    {% endfor %}
                    {% for inf in form.passengers.INF %}
                        <li class="">
                            <a href="#inf{{ loop.index }}" role="tab" data-toggle="tab">
                                Пассажир № {{ loop.index }} (Младенец)
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {% for add in form.passengers.ADT %}
                        <div class="tab-pane {% if loop.first %}active{% endif %}" id="adult{{ loop.index }}">
                            {{ form_row(add) }}
                            {% if loop.first %}
                                {{ form_row(form.email) }}
                                {{ form_row(form.phone) }}
                            {% endif %}
                        </div>
                    {% endfor %}
                    {% for chd in form.passengers.CHD %}
                        <div class="tab-pane" id="child{{ loop.index }}">
                            {{ form_row(chd) }}
                        </div>
                    {% endfor %}
                    {% for inf in form.passengers.INF %}
                        <div class="tab-pane" id="inf{{ loop.index }}">
                            {{ form_row(inf) }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            {{ form_row(form._token) }}
            <div  class="form-group">
                <div class="controls">
                    <input type="submit" value="Забронировать" class="btn btn-success">
                </div>
            </div>
        </form>
    </div>
    <style type="text/css">
        .birthday select{
            width: auto;
            margin-right: 10px;
        }
    </style>

{% endblock %}