{% extends "BundlesDefaultBundle:Layouts:main.html.twig" %}
{% block js %}
    {{ parent() }}
    {% javascripts 'bundles/bundlesdefault/js/default/index.js' combine=true%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block body %}
    <script>
        $(document).ready(function(){

            _GlobalAppObject.searchUrl = "{{ path('bundles_default_search_city') }}";
        });
    </script>
    <div class="col-md-3 well">
        <form id="search-form" action="{{ path('bundles_default_search') }}" method="post" id="search-form">

                {{ form_widget(form) }}
            <input type="submit" class="btn btn-success pull-right"/>
        </form>
    </div>
    <div class="col-md-9">
        <div class="well">
            <form  id="filter-form" action="" class="form-inline">
                {{ form_widget(filter_form) }}
            </form>

        </div>
        <div id="result-box">
            {#{% include 'BundlesDefaultBundle:Api:_items.html.twig' with {data: data} %}#}
        </div>
        {% if pages > 1 %}
            <div class="btn btn-default" id="get-next">Показать еще</div>
        {% endif %}
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            var url = "{{ path('bundles_default_api_flights_items') }}";
            var p = 1;
            function getItems(page,res){
                _GlobalAppObject.loadingStart();
                var filterForm = $('#filter-form').serializeArray();
                var searchForm = $('#search-form').serializeArray();
                var data = searchForm.concat(filterForm);
                $.post(url+'/'+page,data,function(data){
                    if(!data.hasNext){
                        $('#get-next').hide()
                    } else {
                        $('#get-next').show()

                    }
                    res(data);

                    _GlobalAppObject.loadingStop();
                }).error(function(){
                    _GlobalAppObject.loadingStop();
                });
            }
            setTimeout(function(){
                getItems(p,function(data){
                    $('#result-box').html(data.html);
                });
            },100);
            $('body').on('change','#filter-form',function(){
                p = 1;
                getItems(p,function(data){
                    $('#result-box').html(data.html);
                });

            });
            $('body').on('click','#get-next',function(){
                p ++;
                getItems(p,function(data){
                    $('#result-box').append(data.html);
                });

            });
            $('body').on('submit','.book-form',function(){
                $.post($(this).attr('action'),$(this).serialize(),function(data){
                    window.location = data.url;
                });
                return false;
            });
        });
    </script>
{% endblock %}

