{% extends "BundlesDefaultBundle:Layouts:main.html.twig" %}
{% block js %}
    {{ parent() }}
    {% javascripts 'bundles/bundlesdefault/js/default/index.js' combine=true%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block body %}
    <script>
        $(document).ready(function(){

            _GlobalAppObject.searchUrl = "{{ path('bundles_default_search_city') }}";
        });
    </script>
    <div class="col-md-3 well">
        <form action="{{ path('bundles_default_search') }}" method="post" id="search-form">

                {{ form_widget(form) }}
            <input type="submit" class="btn btn-success pull-right"/>
        </form>
    </div>
    <div class="col-md-9">
        <div class="well">
            <form action="" class="form-inline">
                {{ form_widget(filter_form) }}
            </form>

        </div>
        <div id="result-box">
            {% include 'BundlesDefaultBundle:Api:_items.html.twig' with {data: data} %}
        </div>
        {% if pages > 1 %}
            <div class="btn btn-default">Показать еще</div>
        {% endif %}
    </div>
    <script type="text/javascript">
        $('body').on('submit','.book-form',function(){
            $.post($(this).attr('action'),$(this).serialize(),function(data){
                window.location = data.url;
            });
            return false;
        });
    </script>
{% endblock %}

