{% extends "BundlesDefaultBundle:Layouts:main.html.twig" %}
{% block js %}
    {{ parent() }}
    {% javascripts 'bundles/bundlesdefault/js/default/index.js' 'bundles/bundlesdefault/js/api/list.js' combine=true%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block body %}
    <script>
        $(document).ready(function(){

            _GlobalAppObject.searchUrl = "{{ path('bundles_default_search_city') }}";
        });
    </script>
    <div class="col-md-3 well">
        <form id="search-form" action="{{ path('bundles_default_search') }}" method="post" id="search-form">

                {{ form_widget(form) }}
            <input type="submit" class="btn btn-success pull-right"/>
        </form>
    </div>
    <div class="col-md-9">
        <div id="search-result-box">

        </div>
        <div id="avia-calendar-box" class="well">
            Загрузка...
        </div>
        <div id="result-box">
            {#{% include 'BundlesDefaultBundle:Api:_items.html.twig' with {data: data} %}#}
        </div>
        {#{% if pages > 1 %}#}
            <div class="btn btn-default hidden" id="get-next">Показать еще</div>
        {#{% endif %}#}
    </div>
{% endblock %}

