{% extends "BundlesDefaultBundle:Layouts:main.html.twig" %}
{% block js %}
    {{ parent() }}
    {% javascripts 'bundles/bundlesdefault/js/default/index.js' combine=true%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block body %}
    <script>
        $(document).ready(function(){

            _GlobalAppObject.searchUrl = "{{ path('bundles_default_search_city') }}";
        });
    </script>
    <div class="col-md-3 well">
        <form action="{{ path('bundles_default_search') }}" method="post" id="search-form">

                {{ form_row(form) }}
            <input type="submit" class="btn btn-success pull-right"/>
        </form>
    </div>
    <div class="col-md-9">
        {% for ticket in data %}
            <form action="{{ path("bundles_default_api_info") }}" class="book-form">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ ticket.totalPrice }} руб</h3>
                    </div>
                    <div class="panel-body">
                        {% for int in ticket.itineraries %}
                            {% if(loop.index > 1) %}{% set f = "Обратно" %}{% else %}{% set f = "Туда" %}{% endif %}
                            {% set parent_loop = loop %}
                            {% for variant in int.variants %}
                                <div class="well">
                                    <label>
                                        <input value="{{ variant.variantID }}" type="radio" {% if loop.first %} checked="checked" {% endif %} name="info[variants][{{ parent_loop.index-1 }}]" />
                                        Выбрать
                                    </label>
                                    <input type="hidden" name="info[request_id]" value="{{ int.requestId }}">
                                    <div>
                                        {{ f }} (продолжительность - {{ variant.formattedDuration }})

                                    </div>
                                    {% for segment in variant.segments %}
                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                <div class="panel-title"></div>
                                            </div>
                                            <div class="panel-body">
                                                <div class="col-md-3">
                                                    <strong>{{ segment.departureDate("d MMMM Y г.") }}</strong>
                                                    <div>
                                                        <small> Колличество мест: {{ segment.availableSeats }}</small>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div>
                                                        <small>Вылет</small> <strong>{{ segment.departureDate("H:mm") }}</strong>
                                                    </div>
                                                    <strong>{{ segment.departureCityName }}, {{ segment.departureCountryName }}</strong>
                                                    <div>
                                                        <small>{{ segment.departureAirportName }}</small>
                                                    </div>

                                                </div>
                                                <div class="col-md-3">
                                                    <div>
                                                        <small>Прилет</small> <strong>{{ segment.arrivalDate("H:mm") }}</strong>
                                                    </div>
                                                    <strong>{{ segment.arrivalCityName }}, {{ segment.arrivalCountryName }}</strong>
                                                    <div>
                                                        <small>{{ segment.arrivalAirportName }}</small>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    {#<strong>{{ segment.formattedDuration }}</strong>#}
                                                    {#<div>#}
                                                        {#<small>Продолжительность</small>#}
                                                    {#</div>#}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                            <hr />
                        {% endfor %}
                        <div class="" style="margin-bottom: 15px">
                            <div class="col-md-offset-9">
                                <input style="margin-left: 42%" class="btn btn-primary" type="submit" value="Забронировать">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        {% endfor %}
    </div>
    <script type="text/javascript">
        $('body').on('submit','.book-form',function(){
            $.post($(this).attr('action'),$(this).serialize(),function(data){

            });
            return false;
        });
    </script>
{% endblock %}

