

{% for ticket in data %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{ ticket.totalPrice }} руб</h3>
        </div>
        <div class="panel-body">
            {% for int in ticket.itineraries %}
                {% for variant in int.variants %}

                    {% for segment in variant.segments %}
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="panel-title">{{ segment.departureDate }} - {{ segment.arrivalDate }}</div>
                            </div>
                            <div class="panel-body">
                                <div class="col-md-3">
                                    <strong>{{ segment.departureCityName }}, {{ segment.departureCountryName }}</strong>
                                    <div>
                                        <small>{{ segment.departureAirportName }}</small>
                                    </div>

                                </div>
                                <div class="col-md-3">
                                    <strong>{{ segment.arrivalCityName }}, {{ segment.arrivalCountryName }}</strong>
                                    <div>
                                        <small>{{ segment.arrivalAirportName }}</small>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <strong>{{ segment.formattedDuration }}</strong>
                                    <div>
                                        <small>Продолжительность</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% if(not loop.last) %}
                    <hr>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endfor %}