{#{{ dump(data.data) }}#}
{% for int in data %}
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>{{ int.totalPrice }}</h3>
            {% for variant in int.variants %}

                {% for segment in variant.segments %}
                    <div class="row" style="margin-bottom: 15px;">
                        <div class="col-md-4">
                            {{ segment.departureCityName }}|{{ segment.departureAirportName }}({{ segment.departureDate }})

                        </div>
                        <div class="col-md-4">
                            {{ segment.arrivalCityName }}|{{ segment.arrivalAirportName }}({{ segment.arrivalDate }})
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endfor %}