{% extends "BundlesDefaultBundle:Layouts:main.html.twig" %}
{% block js %}
    {{ parent() }}
    {% javascripts 'bundles/bundlesdefault/js/default/index.js' 'bundles/bundlesdefault/js/api/list.js' combine=true%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block body %}
    <script>
        $(document).ready(function(){

            _GlobalAppObject.searchUrl = "{{ path('bundles_default_search_city') }}";
        });
    </script>
    <div class="col-md-3 well filter-form">
        <form id="search-form" class="form-filter-inner" action="{{ path('bundles_default_search') }}" method="post" id="search-form">
            <div class="city-from-block">
                <div class="input-group city-from">
                    <span class="input-group-addon label-from">
                        {{ form_label(form.city_from)}}
                    </span>
                    {{ form_widget(form.city_from, {'attr': {'class': 'from_city'}}) }}
                    <span class="input-group-btn">
                        <button class="btn btn-default button-close button-close-i" type="button"></button>
                    </span>
                </div>
            </div>
            <div class="city-to-block">
                <div class="input-group city-to">
                    <span class="input-group-addon label-from">
                        {{ form_label(form.city_to)}}
                    </span>
                    {{ form_widget(form.city_to, {'attr': {'class': 'to_city'}}) }}
                    <span class="input-group-btn">
                        <button class="btn btn-default button-close button-close-i" type="button"></button>
                    </span>
                </div>
            </div>
            <div class="return-way-block return-way-inner">
                <div class="input-group"> 
                    {{ form_widget(form.return_way, {'attr': {'class': 'foo'}}) }}
                </div>
            </div>
            <!-- Дата вылета -->
            <div class="date-from">
                {{ form_row(form.city_from_code) }}
                {{ form_label(form.date_from, '', {'attr': {'class': 'date_from'}}) }}
                <div class="input-group">
                    {{ form_widget(form.date_from, {'attr': {'class': 'date_from'}}) }}
                    <span class="input-group-addon date-icon"></span>
                </div>
            </div>
            <!-- Дата вылета -->
            <!-- Дата прилета -->
            <div class="date-to">
                {{ form_row(form.city_to_code) }}
                {{ form_label(form.date_to, '', {'attr': {'class': 'date_to'}}) }}
                <div class="input-group">
                    {{ form_widget(form.date_to, {'attr': {'class': 'date_to'}}) }}
                    <span class="input-group-addon date-icon"></span>
                </div>
            </div>
            <!-- Дата прилета -->
            <!-- Блоки с возрастом -->
            <div class="vozrast-block">
                <!-- <label for="">{% trans %}frontend.default.index.num_passengers{% endtrans %}</label> -->
                <!-- Выбор взрослых -->
                <div class="adult-block">
                    <div class="row">
                        <div class="col-md-7 text-left">
                            {{ form_label(form.adults, '', {'label_attr':{'class':'info-vozrast'}}) }}
                        </div>
                        <div class="col-md-5">
                            <div class="input-group">
                                <span class="input-group-addon vozrast-icon adult-icon"></span>
                                {{ form_widget(form.adults, {'attr': {'class': 'child'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Выбор взрослых -->
                <!-- Выбор детей -->
                <div class="children-block">
                    <div class="row">
                        <div class="col-md-7 text-left">
                            {{ form_label(form.children, '', {'label_attr':{'class':'info-vozrast'}}) }}
                        </div>
                        <div class="col-md-5">
                            <div class="input-group">
                                <span class="input-group-addon vozrast-icon child-icon"></span>
                                {{ form_widget(form.children, {'attr': {'class': 'child'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Выбор детей -->
                <!-- Выбор младенцев -->
                <div class="infant-block">
                    <div class="row">
                        <div class="col-md-7 text-left">
                            {{ form_label(form.infant, '', {'label_attr':{'class':'info-vozrast'}}) }}
                        </div>
                        <div class="col-md-5">
                            <div class="input-group">
                                <span class="input-group-addon vozrast-icon infants-icon"></span>
                                {{ form_widget(form.infant, {'attr': {'class': 'child'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Выбор младенцев -->
            </div>
            <!-- Блоки с возрастом -->
            <!-- Имя авиакомпании -->
            <div style="height: 0;overflow: hidden;" class="avia-company">
                <div class="form-group">
                    <div class="input-group">
                        {{ form_label(form.avia_company, '') }}
                        {{ form_widget(form.avia_company) }}
                    </div>
                </div>
            </div>
            <!-- Имя авиакомпании -->
            <!-- Класс -->
            <div style="height: 0;overflow: hidden;" class="klass">
                <div class="form-group">
                    <div class="row-group">
                        {{ form_label(form.class, '') }}
                        {{ form_widget(form.class) }}
                    </div>
                </div>
            </div>
            <!-- Класс -->
            <!-- Валюта -->
            <div style="height: 0;overflow: hidden;" class="currency">
                <div class="form-group">
                    <div class="row-group">
                        {{ form_label(form.currency, '') }}
                        {{ form_widget(form.currency) }}
                    </div>
                </div>
            </div>
            <!-- Валюта -->
            <!-- Лучшая цена -->
            <div class="price-best">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            {{ form_widget(form.best_price, {'attr': {'class': 'best-price checkbox'}}) }}
                        </span>
                        {{ form_label(form.best_price, 'frontend.search_form.best_price'|trans, {'label_attr':{'class':'form-control'}}) }}
                    </div>
                </div>
            </div>
            <!-- Лучшая цена -->
            <!-- Прямые рейсы -->
            <div class="reys-line">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            {{ form_widget(form.direct_flights, {'attr': {'class': 'best-price checkbox'}}) }}
                        </span>
                        {{ form_label(form.direct_flights, 'frontend.search_form.direct_flights'|trans, {'label_attr':{'class':'form-control'}}) }}
                    </div>
                </div>
            </div>
            <!-- Прямые рейсы -->
            {{ form_widget(form) }}
            <input type="submit" class="btn-fly btn btn-success pull-right" value="{%trans%}frontend.search_form.submit{%endtrans%}"/>
        </form>
    </div>
    <div class="col-md-9 result-box">
        <div id="search-result-box">

        </div>
        {% if form.best_price.vars.data %}
            <div class="well well-box">
                <div class="panel panel-box panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">{%trans%}frontend.default.calendar.best_price{%endtrans%}</h3>
                    </div>
                    <div  id="avia-calendar-box" class="panel-body">
                        <img alt="" src="{{ asset('/bundles/bundlesdefault/img/ajax-loader.gif') }}" />
                    </div>
                </div>
            </div>
        {% endif %}
        <div id="result-box">
            {#{% include 'BundlesDefaultBundle:Api:_items.html.twig' with {data: data} %}#}
        </div>
        {#{% if pages > 1 %}#}
            <div class="btn btn-default hidden" id="get-next">{%trans%}frontend.default.list.show_more{%endtrans%}</div>
        {#{% endif %}#}
    </div>
    <div id="calendar-popup">

    </div>
{% endblock %}

