<div class="panel panel-info panel-ticket">
    <span class="return-block">
        {% if not ticket.refundable and view_refundable %}
            {% set view_refundable = false %}
            {% trans %}frontend.non_return{% endtrans %}
        {% endif %}
    </span>
    <div class="panel-body panel-gradient ticket-body">
        <div class="col-md-1 radio-ticket">
            {% if not expanded %}
                <div class="radio-button">
                    <input value="{{ variant.variantID }}" type="radio" {% if loop.first %} checked="checked" {% endif %} name="info[variants][{{ parent_loop.index-1 }}]"/>
                    <input type="hidden" name="info[request_id]" value="{{ ticket.requestId }}">
                </div>
            {% endif %}
        </div>
        <div class="col-md-3 company-info">
            <div class="row">
                <div class="img-company col-md-5">
                    <span class="city-logo {{ departureSegment.marketingAirline}}"></span>
                </div>
                <div class="img-name col-md-7">
                    <div class="name-company">{{ departureSegment.marketingAirlineName }}</div>
                    <div class="num-company">{{ departureSegment.aircraftName }}</div>
                    <div class="free-mest">
                        {% for segment in variant.segments %}
                            {{ segment.marketingAirline }}{{ segment.flightNumber }}{% if not loop.last %}/{% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 time-up-avia">
            <p>{%trans%}frontend.default.list.item.departure_time{%endtrans%}:</p>
            <div class="row">
                <div class="time-up col-md-4">{{ departureSegment.departureDate|date("H:i") }}</div>
                <div class="city-aero col-md-8">
                    <div class="city-up">{{ departureSegment.departureCityName }}</div>
                    <div class="aeropot-up">
                        {{ departureSegment.departureAirportName }}
                        {% if departureSegment.departureTerminal %}
                            ({{ departureSegment.departureTerminal }})
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 time-down-avia">
            <p>{%trans%}frontend.default.list.item.arrival_time{%endtrans%}:</p>
            <div class="row">
                <div class="time-down col-md-4">
                    <span class="span">{{ arrivalSegment.arrivalDate|date("H:i") }}</span>
                    <br/>
                        <span class="nowrap">
                            {% if variant.diffDay > 0 %}
                                {% transchoice variant.countTransplant with {'%num%':  variant.diffDay} %}
                                frontend.default.list.diff_day
                                {% endtranschoice %}
                            {% endif %}
                        </span>
                </div>
                <div class="city-aero col-md-8">
                    <div class="city-down">{{ arrivalSegment.arrivalCityName }}</div>
                    <div class="aeropot-down">
                        {{ arrivalSegment.arrivalAirportName }}
                        {% if arrivalSegment.arrivalTerminal %}
                            ({{ arrivalSegment.arrivalTerminal }})
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 time-duration-avia">
            <p>{%trans%}frontend.default.list.item.duration{%endtrans%}:</p>
            <div class="time-duration">{{ variant.duration|secondToTime }}</div>
            <div class="transplant">
                {% if variant.countTransplant and not expanded %}
                    {% for a in variant.transplantAirports %}
                        <div class='list-transplant'>
                            <strong>{{ a.name }}</strong><small>: {{ a.time|secondToTime }}</small>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>