
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}CMF{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('logo.png') }}" />
        {% block stylesheets %}
            {% stylesheets '@fancybox' filter='cssrewrite' combine=true %}
                <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
            {% endstylesheets %}
            <link href="{{ asset('build/css/dist/bootstrap.css') }}" rel="stylesheet" media="screen" />
        {% endblock %}
        {#<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />#}
        {% block js %}
            {#<script type="text/javascript" src="{{ asset('/bundles/acmeadmin/ckeditor/ckeditor.js') }}"></script>#}
            {#<script type="text/javascript" src="{{ asset('/bundles/acmeadmin/AjexFileManager/ajex.js') }}"></script>#}
            {% javascripts '@jquery' '@bootstrap_js' '@ck_editor_js' '@admin_common_js' '@jquery_ui_js' '@fancybox_js' combine=true%}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </head>
    <body>
        <div class="wrap {%block beauty%}{% endblock %}">
            <div class="wrap-inner">
                {%if is_granted('ROLE_ADMIN')%}
                    {% block navbar %}
                        {{  include('AcmeAdminBundle::Layouts/navbar.html.twig') }}
                    {%endblock%}
                {% endif %}
                <div class="container">
                     <script type="text/javascript">
                         $(document).ready(function(){
                             {#{% for flashMessage in app.session.flashbag.get('success') %}#}
                                {#alertify.success('{{ flashMessage |trans({}, 'crud') }}');#}
                             {#{% endfor %}#}

                             {#{% for flashMessage in app.session.flashbag.get('error') %}#}
                                {#alertify.error('{{ flashMessage |trans({}, 'crud') }}');#}
                             {#{% endfor %}#}
                         });
                     </script>


                </div>
                 <div class="container test">
                        {% block body %}{% endblock %}
                </div>
            </div>
        </div>

        {%if is_granted('ROLE_ADMIN')%}

            <footer class="bs-footer" role="contentinfo">
                <div class="container">
                    <p>Version 1.0 2013 - {{ 'now'|date('Y') }} г.</p>
                </div>

            </footer>
        {% endif %}
    </body>
</html>
