{% extends 'BundlesDefaultBundle:Layouts:main.html.twig' %}
{% block title metaTags.title %}
{% block meta_description metaTags.description %}
{% block meta_keywords metaTags.keywords %}
{% block js %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('build/dist/js/index/index.js') }}"></script>
    {% javascripts
    'bundles/bundlesdefault/js/default/index.js'
    'bundles/bundlesdefault/js/default/jquery.selectbox.min.js'
    'bundles/bundlesdefault/js/default/avia.js'
    combine=true%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-8">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#avia" data-toggle="tab">
                        {% trans %}frontend.default.flights{% endtrans %}
                    </a>
                </li>
                <li><a href="#hotels" data-toggle="tab">Гостиницы</a></li>
                <li><a href="#auto" data-toggle="tab">Прокат авто</a></li>
            </ul>
            <!-- Tab panes -->
            {% include "BundlesDefaultBundle:Default:_form.html.twig" %}
            <ul class="nav nav-tabs" role="tablist">
                <li class="active">
                    <a href="#main" role="tab" data-toggle="tab">
                        {{ h1 }}
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="main" style="padding: 15px">
                    {{ content|raw }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}