<fieldset class="form-group">
    <div class="button-buy-wrap">
        <button type="submit" ng-click="search()" class="button button-buy">{{ 'frontend.search_form.submit'|trans }}</button>
    </div>
    <div class="additional-options">
        <div class="additional-text"><a href="" ng-click="searchForm.viewAdditionalFields= !searchForm.viewAdditionalFields">{{ 'frontend.search_form.additional_params'|trans }}<i class="icon-down"></i></a></div>
        <div ng-show="searchForm.viewAdditionalFields" class="additional-wrap ng-hide">
            <div class="form-group">
                <div class="checkbox-input input-group">
                    <input ng-model="searchForm.formValue.directFlights.data" id="only-one-direction" type="checkbox" name="only-one-direction" class="checkbox-button"/>
                    <label for="only-one-direction">{{ 'frontend.search_form.direct_flights'|trans }}</label>
                </div>
                <div class="checkbox-input input-group">
                    <input  ng-model="searchForm.formValue.bestPrice.data" id="best-price-three-day" type="checkbox" name="best-price-three-day" class="checkbox-button"/>
                    <label for="best-price-three-day">{{ 'frontend.search_form.best_price'|trans }}</label>
                </div>
                {#<div class="checkbox-input input-group">#}
                    {#<input  ng-model="searchForm.formValue.directFlight.data" ng-true-value="1" ng-false-value="0" id="refundable" type="checkbox" name="refundable" class="checkbox-button"/>#}
                    {#<label for="refundable">{{ 'frontend.search_form.refundable'|trans }}</label>#}
                {#</div>#}
            </div>
            <div class="form-group">
                <div class="aviacompany input-group">
                    <label for="aviacompany">{{ 'frontend.search_form.airline'|trans }}</label>
                    <div class="select">
                        <select id="aviacompany" ng-model="searchForm.formValue.airline.data"  ng-options="item.data as item.label for item in searchForm.formValue.airline.choices">

                        </select>
                    </div>
                </div>
                <div class="class-service input-group">
                    <label for="class-service">{{ 'frontend.search_form.class'|trans }}</label>
                    <div class="select">
                        <select id="class-service" ng-model="searchForm.formValue.serviceClass.data"  ng-options="item.data as item.label for item in searchForm.formValue.serviceClass.choices">

                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</fieldset>