<div class="tab-content-services" >
    <div class="act-tab tab">
        <div class="form-search-wrap">
            <fieldset class="tab-direction">
                {% verbatim %}
                    <div class="input-group" ng-repeat="direction in searchForm.formValue.direction.choices">
                    <!--<input type="checkbox" class="index-radio-button">-->
                        <div class="index-radio-button" ng-click="toggleCheckbox(searchForm.formValue.direction,direction)"  ng-class="{active: direction.data == searchForm.formValue.direction.data,error: direction.errors.length > 0}">{{ direction.label }}</div>
                    </div>
                {% endverbatim %}

            </fieldset>
            <fieldset class="form-group">
                <div ng-hide="searchForm.isComplexSearch()" class="simple-search">
                    <div class="departure-from input-group">
                        <label for="from-avia">{{ 'frontend.search_form.city_from'|trans }}:</label>
                        <div class="input">
                            <span class="icon"><i class="icon-metka"></i></span>
                            <auto-complete
                                    search-length="3"
                                    ng-model="searchForm.formValue.departureCode.data"
                                    attr-id="from-avia"
                                    attr-placeholder="{{ 'frontend.search_form.placeholders.city'|trans }}"
                                    reverse-component="1"
                                    view-value="{% verbatim %}{{searchForm.formValue.departureCity.data}}{% endverbatim %}"
                                    >
                            </auto-complete>
                        </div>
                    </div>
                    <div ng-click="reverse()" ng-hide="searchForm.isComplexSearch()" class="input-group refresh">
                        <a href=""><i class="icon-refresh"></i></a>
                    </div>
                    <div ng-hide="searchForm.isComplexSearch()" class="arriving-in input-group">
                        <label for="down-avia">{{ 'frontend.search_form.city_to'|trans }}:</label>
                        <div class="input">
                            <span class="icon"><i class="icon-metka"></i></span>
                            <auto-complete
                                    search-length="3"
                                    ng-model="searchForm.formValue.arrivalCode.data"
                                    attr-id="down-avia"
                                    attr-placeholder="{{ 'frontend.search_form.placeholders.city'|trans }}"
                                    reverse-component="1"
                                    view-value="{% verbatim %}{{searchForm.formValue.arrivalCity.data}}{% endverbatim %}"
                                    >

                            </auto-complete>

                        </div>
                    </div>
                </div>
                {% include "BundlesDefaultBundle:Default/Form:complex_search_fields.html.twig" %}
            </fieldset>
            <fieldset class="form-group">
                <div class="date-simple up-date input-group" ng-hide="searchForm.isComplexSearch()">
                    <label for="up-date">{{ 'frontend.search_form.date_from'|trans }}:</label>
                    <div class="input">
                        <ng-datepicker
                                attr-id="up-date"
                                placeholder="{{ 'frontend.search_form.placeholders.date'|trans }}"
                                ng-model="searchForm.formValue.departureDate.data"
                                name="departureDate"
                                min-to="arrivalDate"
                                >

                        </ng-datepicker>
                        <span class="icon"><i class="icon-date"></i></span>
                    </div>
                </div>
                <div class="date-simple down-date input-group ng-hide" ng-show="searchForm.isSearchTwoWay()">
                    <label for="down-date">{{ 'frontend.search_form.date_to'|trans }}:</label>
                    <div class="input">
                        <ng-datepicker
                                attr-id="down-date"
                                placeholder="{{ 'frontend.search_form.placeholders.date'|trans }}"
                                ng-model="searchForm.formValue.arrivalDate.data"
                                name="arrivalDate"
                                >

                        </ng-datepicker>
                        <span class="icon"><i class="icon-date"></i></span>
                    </div>
                </div>
                <div class="adults input-group">
                    <label for="adults">{{ 'frontend.search_form.adults'|trans }}</label>
                    <div class="select">
                        <select id="adults" name="adults" ng-model="searchForm.formValue.adults.data" ng-options="item.data as item.label for item in searchForm.formValue.adults.choices">

                        </select>
                    </div>
                </div>
                <div class="children input-group">
                    <label for="children">{{ 'frontend.search_form.child'|trans }}</label>
                    <div class="select">
                        <select id="children" name="children" ng-model="searchForm.formValue.children.data"  ng-options="item.data as item.label for item in searchForm.formValue.children.choices">

                        </select>
                    </div><a href="#" class="age-rule-link">Правила перевозки детей<i class="icon-window"></i></a>
                </div>
                <div class="infant input-group">
                    <label for="infant">{{ 'frontend.search_form.infant'|trans }}</label>
                    <div class="select">
                        <select id="infant" name="infant" ng-model="searchForm.formValue.infant.data" ng-options="item.data as item.label for item in searchForm.formValue.infant.choices">

                        </select>
                    </div>
                </div>
            </fieldset>
            {% include 'BundlesDefaultBundle:Default/Form:additional_fields.html.twig' %}
        </div>
    </div>
    <div id="hotels" class="tab"></div>
    <div id="car-rental" class="tab"></div>
</div>

